@media (max-width: 560px) {

    .subheader-list {
        padding-left: 0;
    }

    .subheader-a {
        font-size: 18px;
    }

    .subheader-a:hover {
        border-bottom: 4px solid white;
    }

    .subheader-section {
        height: 51px;
    }


    .filter-element {
        text-transform: capitalize;
    }

    .portfolio-sorting li a {
        color: black;
        border-radius: 5px;
        border: solid 1px #0077B5;
        background-color: white;
        padding: 5px;
    }

    .portfolio-title {
        padding-top: 10px;
        font-size: 14px;
    }

    .portfolio-sorting li a:hover,
    .portfolio-sorting li a.active {
        color: #ffffff !important;
        border-radius: 5px;
        border: solid 1px #0077B5;
        background-color: #0077B5;
        padding: 5px;
    }

    .mobile-hidden {
        display: none !important;
    }

    .portfolio-sorting {
        position: absolute;
        top: 40px;
        left: -15px;
        right: -15px;
        margin: auto;
        border-bottom: 3px solid #6cf;
        background-color: white;
        padding-bottom: 10px;
        text-align: center;
        z-index: 3 !important;
    }

    #portfolio-hackathon-major-sorting a,
    #portfolio-hackathon-minor-sorting a {
        font-size: 1em;
    }

    .minor-hackathon-filter.portfolio-sorting {
        top: 90px;
    }

    .portfolio-display-mobile-list {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: space-between;
        color: #0077b5;
        padding-inline-start: 0px;
        font-size: 22px;
        cursor: pointer;
    }

    .portfolio-item-first-section {
        min-width: 320px;
    }

    .portfolio-item-second-section {
        padding: 0;
        min-width: 320px;
    }

    .portfolio-display-mobile-element {
        padding: 2px 10px;
        border-radius: 6px;
    }

    .portfolio-display-mobile-element.selected {
        background-color: #E8A621;
    }

    .portfolio-display-mobile-element.selected i {
        color: white;
    }

    .subheader-a-hidden {
        font-size: 20px;
        padding: 10px 0;
        color: #fff;
        display: inline-block;
        line-height: 1.35;
    }

    .subheader-a-hidden.selected-a {
        border-bottom: 4px solid white;
        padding-bottom: 2px;
    }

    .subheader-a-hidden:hover {
        border-bottom: 4px solid;
        padding-bottom: 2px;
        text-decoration: none;
        color: #fff;
    }

    .subheader-a {
        display: none;
    }
}

@media (min-width: 561px) {
    .portfolio-sorting li a {

        text-transform: uppercase;
        font-size: 16px;
    }
}