@media(max-width:560px)
{

    .subheader-list
    {
        padding-left: 0;
    }
    .subheader-a {
        font-size: 18px;
    }

    .subheader-a:hover {
        border-bottom: 4px solid white;
    }

    .subheader-section
    {
        height: 51px;
    }

    .portfolio-title {
        padding-top: 10px;
        font-size: 14px;
    }

    .mobile-hidden {
        display: none !important;
    }

    .portfolio-item-first-section {
        min-width: 320px;
    }

    .portfolio-item-second-section {
        padding: 0;
        min-width: 320px;
    }

    .portfolio-display-mobile-element {
        padding: 2px 10px;
        border-radius: 6px;
    }

    .portfolio-display-mobile-element.selected {
        background-color: #E8A621;
    }

    .portfolio-display-mobile-element.selected i {
        color: white;
    }

    .subheader-a-hidden
    {
        font-size: 20px;
        padding: 10px 0;
        color: #fff;
        display: inline-block;
        line-height: 1.35;
    }

    .subheader-a-hidden.selected-a {
        border-bottom: 4px solid white;
        padding-bottom: 2px;
    }

    .subheader-a-hidden:hover
    {
        border-bottom: 4px solid;
        padding-bottom: 2px;
        text-decoration: none;
        color: #fff;
    }

    .subheader-a
    {
        display: none;
    }
}
