@media (max-width: 560px) {
  .industries-items.desktop {
    display: none;
  }

  .industries-items.mobile {
    display: flex;
    align-items: center;
  }

  .industries-items.mobile .industries-item {
    max-width: 96%;
    margin: 0 2%;
  }

  .industries-items.mobile .slick-list {
    width: 100%;
    max-width: 70%;
  }

  #our-industries .slick-dots {
    bottom: -45px;
  }

  .industries-item {
    border: none;
  }
}