@media(max-width: 480px) {
    .icon-bar {
        width: 20px;
    }

    .calendar-button, .calendar-button-callus, .back-button-header {
        font-size: 11px !important;
    }

    .navbar-brand {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 14px;
    }
    .navbar-toggle {
        padding-right: 8px;
        padding-left: 8px;
        margin-top: 11px;
    }
}