@media(max-width: 480px) {
    .service-btn {
        padding: 10px !important;
        min-width: 318px;
        max-width: 420px;
    }
    .service-btn-image {
        height: 37px;
    }
    .service-btn-image img {
        height: 40px;
        padding-left: 20px;
    }
    .service-btn-name {
        font-size: 17px;
        padding-left: 15px;
        margin: auto;
    }
    .fa-stack {
        margin-top: 20px;
    }
    .fas.fa-caret-right
    {
        margin-left: -30px;
        color: #E8A621;
        font-size: 50px;
    }

    .fas.fa-caret-left
    {
        margin-right: -30px;
        color: #E8A621;
        font-size: 50px;
    }
}