<!-- About Section -->

<section id="about-customers">
  <div id="customers-main" class="customers-main owl-carousel owl-theme">
    <div class="slick-adjust-div">
      <div class="customers-section">
        <div class="customers-subsection">
          <div class="customers-logo">
            <img src="{{ site.resources_server_url }}/img/portfolio/feedback/crypto-tax/CryptoTax.svg"/>
          </div>

          <div class="customers-information">
            <div class="customers-picture">
              <picture class="customers-image">
                <source srcset="{{ site.resources_server_url }}/img/portfolio/feedback/crypto-tax/klaus.webp"
                        type="image/webp">
                <img src="{{ site.resources_server_url }}/img/portfolio/feedback/crypto-tax/klaus.png">
              </picture>
            </div>

            <div class="customers-list">
              <div class="customers-name">
                Klaus Himmer
              </div>

              <div class="customers-position">
                CEO AND CO-FOUNDER
              </div>
            </div>
          </div>
        </div>

        <div class="customers-media">
          <div class="customers-text">
            <p>
              We work with them more than one year and quite happy with agility, quality of the services and insights
              they provide to us. Now when we’re entering new markets, we know for sure that we can rely on our
              development partners at CML Team.
              <a href="https://www.goodfirms.co/company/cml-team-ltd" target="_blank">Read more</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="slick-adjust-div">
      <div class="customers-section">
        <div class="customers-subsection">
          <div class="customers-logo">
            <img src="{{ site.resources_server_url }}/img/portfolio/feedback/trade-republic/trade-rep-logo.svg"/>
          </div>

          <div class="customers-information">
            <div class="customers-picture">
              <picture class="customers-image">
                <source srcset="{{ site.resources_server_url }}/img/portfolio/feedback/trade-republic/trade-rep-customer.webp"
                        type="image/webp">
                <img src="{{ site.resources_server_url }}/img/portfolio/feedback/trade-republic/trade-rep-customer.png">
              </picture>
            </div>

            <div class="customers-list">
              <div class="customers-name">
                Ivan Vasylchenko
              </div>

              <div class="customers-position">
                COO
              </div>
            </div>
          </div>
        </div>

        <div class="customers-media">
          <div class="customers-text">
            <p>
              CML Team LTD developed a functional platform that streamlined business processes.
              The team worked efficiently, meeting tight timelines. Their flexibility was also noteworthy.
              <a href="https://clutch.co/profile/cml-team#review-916563" target="_blank">Read more</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="slick-adjust-div">
      <div class="customers-section">
        <div class="customers-subsection">
          <div class="customers-logo">
            <picture>
              <source srcset="{{ site.resources_server_url }}/img/portfolio/feedback/cryptominer/crypto-miner-logo.webp"
                      type="image/webp">
              <img src="{{ site.resources_server_url }}/img/portfolio/feedback/cryptominer/crypto-miner-logo.png">
            </picture>
          </div>

          <div class="customers-information">
            <div class="customers-picture">
              <picture class="customers-image">
                <source srcset="{{ site.resources_server_url }}/img/portfolio/feedback/cryptominer/crypto-miner-customer.webp"
                        type="image/webp">
                <img src="{{ site.resources_server_url }}/img/portfolio/feedback/cryptominer/crypto-miner-customer.png">
              </picture>
            </div>

            <div class="customers-list">
              <div class="customers-name">
                John Butler
              </div>

              <div class="customers-position">
                Founder
              </div>
            </div>
          </div>
        </div>

        <div class="customers-media">
          <div class="customers-text">
            <p>
              This team has leveraged a deep technical background to tackle new system development
              requirements.
              CML Team LTD’s work is crucial to the success of the overall project, and they’re meeting
              those needs.
              <a href="https://clutch.co/profile/cml-team#review-866443" target="_blank">Read more</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="slick-adjust-div">
      <div class="customers-section">
        <div class="customers-subsection">
          <div class="customers-logo">
            <picture>
              <source srcset="{{ site.resources_server_url }}/img/portfolio/feedback/party-bunny/party-bunny-logo.webp"
                      type="image/webp">
              <img src="{{ site.resources_server_url }}/img/portfolio/feedback/party-bunny/party-bunny-logo.png">
            </picture>
          </div>

          <div class="customers-information">
            <div class="customers-picture">
              <picture class="customers-image">
                <source srcset="{{ site.resources_server_url }}/img/portfolio/feedback/party-bunny/party-bunny-customer.webp"
                        type="image/webp">
                <img src="{{ site.resources_server_url }}/img/portfolio/feedback/party-bunny/party-bunny-customer.png">
              </picture>
            </div>

            <div class="customers-list">
              <div class="customers-name">
                Nadya Tereshina
              </div>

              <div class="customers-position">
                <div>Production manager</div>
              </div>
            </div>
          </div>
        </div>

        <div class="customers-media">
          <div class="customers-text">
            <p>
              I've worked with the guys over my chat bot idea and they delivered all the job on time, were
              responsive to the feed back and changes, i requested.
              Maintain the bot if there was a problem. What i found particularly great someone from the
              team is always available and reachable to correct the issues.
              <a href="https://www.goodfirms.co/company/cml-team-ltd" target="_blank">Read more</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
