<!-- About Section -->

<section id="about-portfolio" class="portfolio">

    <div class="container">
        <div class="row" style="padding-top: 10px;">
            <section id="about_photos_only" style="padding: 0"></section> <!-- just to jump exactly to photos -->
        </div>
        <h2 class="portfolio-main-title">Meet our customers</h2>
        <div class="filter-list-wrap">
            <ul class="portfolio-display-mobile-list">
                <li>Filter:

                </li>
                <li class="filter-elements">

                </li>
                <li class="portfolio-display-mobile-element">
                    <i class="fas fa-filter"></i>
                </li>
            </ul>
            <ul class="portfolio-sorting mobile-hidden list-inline text-center" style="margin-bottom: 5px">
                <li class="portfolio-title"><a href="#" id="filter-all"
                                               data-group='["all", "java", "springBoot", "reactJS", "nodeJS", "aws", "solidity", "eos", "vueJS", "google app script", "postgresql", "kibana", "elastic search", "react native", "facebook bot api", "fbMsgApi", "IbmWatson", "flutter", "alexaSkillsKit"]'>All</a>
                </li>
                <li class="portfolio-title"><a href="#" data-group="java">Java</a></li>
                <li class="portfolio-title"><a href="#" data-group="springBoot">Spring Boot</a></li>
                <li class="portfolio-title"><a href="#" data-group="reactJS">ReactJS</a></li>
                <li class="portfolio-title"><a href="#" data-group="vueJS">VueJS</a></li>
                <li class="portfolio-title"><a href="#" data-group="nodeJS">NodeJS</a></li>
                <li class="portfolio-title"><a href="#" data-group="aws">AWS</a></li>
                <li class="portfolio-title"><a href="#" data-group="solidity">Solidity</a></li>
                <li class="portfolio-title"><a href="#" data-group="google app script">Google App Script</a></li>
                <li class="portfolio-title"><a href="#" data-group="postgresql">Postgresql</a></li>
                <li class="portfolio-title"><a href="#" data-group="kibana">Kibana</a></li>
                <li class="portfolio-title"><a href="#" data-group="elastic search">Elastic Search</a></li>
                <li class="portfolio-title"><a href="#" data-group="eos">EOS</a></li>
                <li class="portfolio-title"><a href="#" data-group="react native">React Native</a></li>
                <li class="portfolio-title"><a href="#" data-group="facebook bot api">Fb Bot Api</a></li>
                <li class="portfolio-title"><a href="#" data-group="fbMsgApi">Fb Messenger Api</a></li>
                <li class="portfolio-title"><a href="#" data-group="IbmWatson">IBM Watson</a></li>
                <li class="portfolio-title"><a href="#" data-group="flutter">Flutter</a></li>
                <li class="portfolio-title"><a href="#" data-group="alexaSkillsKit">Alexa Skills Kit</a></li>
            </ul> <!--end portfolio sorting -->
        </div>
        <ul class="portfolio-items list-unstyled" id="grid-portfolio">
            <!-- eoshk section started -->
            <li class="col-md-6 col-sm-6 col-xs-12" data-groups='["java", "reactJS"]'>
                <div class="portfolio-item">
                    <div class="portfolio-item-title">Cryptotax</div>
                    <div class="portfolio-item-first-section">
                        <div class="portfolio-image-wrap">
                            <div class="projects" id="first-project">
                                <img src="/img/portfolio/Crypto-tax.jpg" alt=""
                                     class="img-responsive img-portfolio">
                            </div>
                        </div>
                        <h2 class="portfolio-item-solution portfolio-item-name hidden first-project">
                            Solution:
                        </h2>
                        <div class="portfolio-item-description hidden first-project">
                            CML Team implemented core taxation engine for German and Switzerland markets. Backend
                            consists of different complex workflows of tax report fees calculation. A number of
                            operations supported (trades, deposits, withdrawals) as well as a coverage of the most
                            frequent crypto assets use cases (stacking, lending, ICO, hard-fork). The project includes
                            deep integration with popular crypto exchanges, wallets and aggregators including Binance,
                            Bitfinex, Coinbase, Poloniex, Kraken, Ethereum Wallet and many others.
                            Frontend was built using React and Redux with focus on great UX and responsive design.
                        </div>
                    </div>
                    <div class="portfolio-item-second-section hidden first-project">
                        <h2 class="portfolio-item-name">
                            Client:
                        </h2>
                        <div class="portfolio-item-description">
                            Cryptotax are enthusiastic about decentralization and the new opportunities enabled by
                            blockchain technology. They want to contribute to this development by offering premium tax
                            reporting solutions for private and institutional investors.
                        </div>
                        <h2 class="portfolio-item-name">
                            Description:
                        </h2>
                        <div class="portfolio-item-description">
                            A complex cloud-based taxation product for crypto space in European and International
                            markets.
                        </div>
                        <h2 class="portfolio-item-name">
                            Role:
                        </h2>
                        <div class="portfolio-item-description">
                            Full cycle development from requirements specification and architecture to deployment, 3rd
                            line support and maintenance.
                        </div>
                        <h2 class="portfolio-item-name">
                            Team and duration:
                        </h2>
                        <div class="portfolio-item-description">
                            Tech Lead and 3 FTE in development team working for 13 months (ongoing).
                        </div>
                        <h2 class="portfolio-item-name">
                            Industries:
                        </h2>
                        <div class="portfolio-item-description">
                            Taxation, Crypto.
                        </div>
                        <h2 class="portfolio-item-name">
                            Country:
                        </h2>
                        <div class="portfolio-item-description">
                            Germany
                        </div>
                        <h2 class="portfolio-item-name">
                            Technologies:
                        </h2>
                        <div class="portfolio-item-description">
                            Java, ReactJS, Spring Boot, Spring Framework, Typescript, Hibernate, ELK, Newrelic, Tomcat,
                            AWS, Postgresql.
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-md-6 col-sm-6 col-xs-12"
                data-groups='["java", "springBoot", "fbMsgApi", "IbmWatson", "alexaSkillsKit"]'>
                <div class="portfolio-item">
                    <div class="portfolio-item-title">Party bunny</div>
                    <div class="portfolio-item-first-section">
                        <div class="portfolio-image-wrap">
                            <div class="projects" id="second-project">
                                <img src="/img/portfolio/partyBunny.png" alt=""
                                     class="img-responsive img-portfolio">
                            </div>
                        </div>
                        <h2 class="portfolio-item-solution portfolio-item-name hidden second-project">
                            Solution:
                        </h2>
                        <div class="portfolio-item-description hidden second-project">
                            A platform for managing nightlife events and import them from different sources via various
                            APIs and manually.
                            <br/>
                            A Facebook Chatbot and Alexa Skill on top of that platform that allows Dubai and Bangkok
                            users to find easily a night-life event nearby.
                        </div>
                    </div>
                    <div class="portfolio-item-second-section hidden second-project">
                        <h2 class="portfolio-item-name">
                            Client:
                        </h2>
                        <div class="portfolio-item-description">
                            Nadya Tereshina is a serial entrepreneur and successful producer in music and filming
                            entertainment industries.
                        </div>
                        <h2 class="portfolio-item-name">
                            Description:
                        </h2>
                        <div class="portfolio-item-description">
                            Living in Dubai one of the most cosmopolitan and fast-growing city in the world Nadya saw a
                            huge demand for expats in entertainment industry and more particularly in night-life. The
                            idea
                            was to build a chatbot called PartyBunny that will allow people to find different
                            entertainment
                            events around Dubai.
                        </div>
                        <h2 class="portfolio-item-name">
                            Role:
                        </h2>
                        <div class="portfolio-item-description">
                            Full cycle development from requirements specification and architecture to deployment, 3rd
                            line support and maintenance
                        </div>
                        <h2 class="portfolio-item-name">
                            Team and duration:
                        </h2>
                        <div class="portfolio-item-description">
                            Two Full-Stack Engineers in development team working for 2 years (ongoing)
                        </div>
                        <h2 class="portfolio-item-name">
                            Industries:
                        </h2>
                        <div class="portfolio-item-description">
                            Entertainment, Chatbots, Voice Assistants
                        </div>
                        <h2 class="portfolio-item-name">
                            Country:
                        </h2>
                        <div class="portfolio-item-description">
                            United Arab Emirates
                        </div>
                        <h2 class="portfolio-item-name">
                            Technologies:
                        </h2>
                        <div class="portfolio-item-description">
                            Java, Spring Boot, FB Messenger API, IBM Watson, Alexa Skills Kit
                        </div>
                        <h2 class="portfolio-item-name">
                            Result:
                        </h2>
                        <div class="portfolio-item-description">
                            Once product released in gets a good traction in Dubai and it allows us to build a long-term
                            relationship with client.
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-md-6 col-sm-6 col-xs-12"
                data-groups='["java", "springBoot", "fbMsgApi", "IbmWatson", "alexaSkillsKit"]'>
                <div class="portfolio-item">
                    <div class="portfolio-item-title">Party bunny</div>
                    <div class="portfolio-item-first-section">
                        <div class="portfolio-image-wrap">
                            <div class="projects" id="third-project">
                                <img src="/img/portfolio/partyBunny.png" alt=""
                                     class="img-responsive img-portfolio">
                            </div>
                        </div>
                        <h2 class="portfolio-item-solution portfolio-item-name hidden third-project">
                            Solution:
                        </h2>
                        <div class="portfolio-item-description hidden third-project">
                            A platform for managing nightlife events and import them from different sources via various
                            APIs and manually.
                            <br/>
                            A Facebook Chatbot and Alexa Skill on top of that platform that allows Dubai and Bangkok
                            users to find easily a night-life event nearby.
                        </div>
                    </div>
                    <div class="portfolio-item-second-section hidden third-project">
                        <h2 class="portfolio-item-name">
                            Client:
                        </h2>
                        <div class="portfolio-item-description">
                            Nadya Tereshina is a serial entrepreneur and successful producer in music and filming
                            entertainment industries.
                        </div>
                        <h2 class="portfolio-item-name">
                            Description:
                        </h2>
                        <div class="portfolio-item-description">
                            Living in Dubai one of the most cosmopolitan and fast-growing city in the world Nadya saw a
                            huge demand for expats in entertainment industry and more particularly in night-life. The
                            idea
                            was to build a chatbot called PartyBunny that will allow people to find different
                            entertainment
                            events around Dubai.
                        </div>
                        <h2 class="portfolio-item-name">
                            Role:
                        </h2>
                        <div class="portfolio-item-description">
                            Full cycle development from requirements specification and architecture to deployment, 3rd
                            line support and maintenance
                        </div>
                        <h2 class="portfolio-item-name">
                            Team and duration:
                        </h2>
                        <div class="portfolio-item-description">
                            Two Full-Stack Engineers in development team working for 2 years (ongoing)
                        </div>
                        <h2 class="portfolio-item-name">
                            Industries:
                        </h2>
                        <div class="portfolio-item-description">
                            Entertainment, Chatbots, Voice Assistants
                        </div>
                        <h2 class="portfolio-item-name">
                            Country:
                        </h2>
                        <div class="portfolio-item-description">
                            United Arab Emirates
                        </div>
                        <h2 class="portfolio-item-name">
                            Technologies:
                        </h2>
                        <div class="portfolio-item-description">
                            Java, Spring Boot, FB Messenger API, IBM Watson, Alexa Skills Kit
                        </div>
                        <h2 class="portfolio-item-name">
                            Result:
                        </h2>
                        <div class="portfolio-item-description">
                            Once product released in gets a good traction in Dubai and it allows us to build a long-term
                            relationship with client.
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-md-6 col-sm-6 col-xs-12 shuffle_sizer"></li>
        </ul>
        <!--end row -->
    </div> <!-- end container-->
</section>