<!-- About Section -->

<section id="about-customers">
    <div class="customers-main">
        <div class="customers-section" >

            <div class="customers-subsection" >

                <div class="customers-logo" >
                    <img src="img/logos/cryptotax.png">
                </div>

                <div class="customers-information" >

                    <div class="customers-picture">
                        <img class="customers-image" src="img/portfolio/klaus.png">
                    </div>

                    <div class="customers-list">

                        <div class="customers-name">
                            Klaus Himmer
                        </div>

                        <div class="customers-position">
                            CEO AND CO-FOUNDER
                        </div>

                    </div>

                </div>

            </div>

            <div class="customers-media" >
                <img class="customers-image" src="img/portfolio/escape.png">
            </div>

        </div>
    </div>

    <div class="customers-main">
    <div class="customers-section" >

        <div class="customers-subsection" >

            <div class="customers-logo" >
                <img src="img/logos/cryptotax.png">
            </div>

            <div class="customers-information" >

                <div class="customers-picture">
                    <img class="customers-image" src="img/portfolio/klaus.png">
                </div>

                <div class="customers-list">

                    <div class="customers-name">
                        Klaus Himmer
                    </div>

                    <div class="customers-position">
                        CEO AND CO-FOUNDER
                    </div>

                </div>

            </div>

        </div>

        <div class="customers-media" >
            <div class="customers-text">
            Klaus Himmer is managing director and co-founder of CryptoTax. He is an expert in taxation of blockchain-based assets. As a consultant to a major accounting firm, he advised banks, investment management companies and other financial service providers on questions of product and corporate taxation. Against this background, his focus is now on the technical implementation of tax-induced processes for private investors and companies in the crypto environment.
            </div>
            </div>
    </div>
    </div>

</section>