<!-- About Section -->

<section id="about-customers">
  <div class="customers-main">
    <div class="customers-section">
      <div class="customers-subsection">
        <div class="customers-logo">
          <img src="img/logos/CryptoTax.svg" />
        </div>

        <div class="customers-information">
          <div class="customers-picture">
            <img class="customers-image" src="img/portfolio/klaus.png" />
          </div>

          <div class="customers-list">
            <div class="customers-name">
              Klaus Himmer
            </div>

            <div class="customers-position">
              CEO AND CO-FOUNDER
            </div>
          </div>
        </div>
      </div>

      <div class="customers-media">
        <div class="customers-text">
          <p>
            At CryptoTax we’re developing a complex taxation product for crypto space in European
            and International markets. Before approaching CML Team we were working with another
            agency, and we were not very happy with agility and services provided by that agency and
            at that moment we’re really concerned if we can build a product before deadline, when
            German customers report their taxes. One of our co-founders met CML Team at London
            blockchain hackathon where they were amongst runner-ups. We were impressed by their
            execution during that hackathon and decided to try working with them.
          </p>
          <p>
            The task was quite challenging, to dive deeply and quickly to the codebase left from
            another agency, rewrite some parts of it in a proper way, and finish a number of missing
            features and core functionality left for MVP.
          </p>
          <p>
            In the matter of few weeks CML Team were able to understand all the complex business
            logic behind our CryptoTax product, rewrite crucial backend parts in a proper solid way
            and in the next few months they were able to implement missing functionality and polish
            this product to production ready shape.
          </p>
          <p>
            As a result, we’ve released our product just in time and in a good quality, that brings
            us good traction and we decided to stick with CML Team as our key development partner
            for a long- term relationship.
          </p>
          <p>
            We work with them more than one year and quite happy with agility, quality of the
            services and insights they provide to us. Now when we’re entering new markets, we know
            for sure that we can rely on our development partners at CML Team.
          </p>
          <div class="customers-text-title">What do you like most about the company?</div>
          <p>
            Deep mathematical & computer science skills combined with the ability to dynamically
            scale in terms of time and professional requirements in a fast-changing startup
            environment.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
