<section id="about-hackathons" class="portfolio bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading mobile-hidden">hackathon professionals and winners</h2>
        <h2 class="section-heading mobile-shown">hackathon winners</h2>
      </div>
    </div>
    <div id="customers-content-wrapper">
      <div class="filter-list-wrap">
        <ul id="major-hackathon-filter" class="portfolio-display-mobile-list">
          <li>Category:</li>
          <li class="filter-element"></li>
          <li class="portfolio-display-mobile-element">
            <i class="fas fa-filter"></i>
          </li>
        </ul>
        <ul id="minor-hackathon-filter" class="portfolio-display-mobile-list">
          <li>Event:</li>
          <li class="filter-element"></li>
          <li class="portfolio-display-mobile-element">
            <i class="fas fa-filter"></i>
          </li>
        </ul>
        <ul
                id="portfolio-hackathon-major-sorting"
                class="major-hackathon-filter portfolio-sorting mobile-hidden list-inline text-center"
        >
          <li><a href="#" data-group="Highlights">Highlights</a></li>
          <li><a href="#" data-group="Blockchain">Blockchain</a></li>
          <li><a href="#" data-group="FinTech">FinTech</a></li>
          <li><a href="#" data-group="Mobility">Mobility</a></li>
          <li><a href="#" data-group="AI">AI</a></li>
        </ul>
        <ul
          id="portfolio-hackathon-minor-sorting"
          class="minor-hackathon-filter portfolio-sorting mobile-hidden list-inline text-center"

        >
          <li><a href="#" data-major-group="['Highlights', 'AI']" data-group="codevscovid19">CodeVsCovid19</a></li>
          <li><a href="#" data-major-group="['Mobility']" data-group="Jelbi">Jelbi Hackathon</a></li>
          <li><a href="#" data-major-group="['Blockchain', 'Mobility']" data-group="Stuttgart19">Blockchain Hackathon</a></li>
          <li><a href="#" data-major-group="['Blockchain', 'Mobility']" data-group="Cryptolife">Cryptolife</a></li>
          <li><a href="#" data-major-group="['Mobility', 'AI']" data-group="AngelHack">AngelHack</a></li>
          <li><a href="#" data-major-group="['Blockchain']" data-group="EOS HK">EOS HK</a></li>
          <li><a href="#" data-major-group="['Highlights', 'Mobility']" data-group="TC Paris">TC Paris</a></li>
          <li><a href="#" data-major-group="['Mobility']" data-group="Hack Belgium">Hack Belgium</a></li>
          <li><a href="#" data-major-group="['Mobility']" data-group="Elevate">Elevate</a></li>
          <li><a href="#" data-major-group="['Highlights', 'Mobility']" data-group="TC Disrupt Berlin">TC Disrupt Berlin</a></li>
          <li><a href="#" data-major-group="['FinTech']" data-group="Impact FinTech">Impact FinTech</a></li>
          <li><a href="#" data-major-group="['Highlights', 'FinTech', 'AI']" data-group="Bankathon">Bankathon</a></li>
          <li><a href="#" data-major-group="['Mobility', 'Blockchain']" data-group="Hack The Train">Hack The Train</a></li>
          <li><a href="#" data-major-group="['Blockchain', 'FinTech']" data-group="InsurHack">InsurHack</a></li>
          <li><a href="#" data-major-group="['Highlights', 'Blockchain', 'FinTech']" data-group="Break The Block">Break The Block</a></li>
          <li><a href="#" data-major-group="['Highlights']" data-group="LegalTech">LegalTech</a></li>
          <li><a href="#" data-major-group="['AI']" data-group="Step Conference">Step Conference</a></li>
          <li><a href="#" data-group="New Office">New Office</a></li>
          <li><a href="#" data-major-group="['AI']" data-group="BotHack Berlin">BotHack Berlin</a></li>
          <li><a href="#" data-major-group="['AI']" data-group="SmartTechno">SmartTechno</a></li>
        </ul>
        <!--end portfolio sorting -->
      </div>
    </div>
      <!-- About Section -->
      <div id="portfolio-carousel">
        <div class="portfolio-project-item">
          <div class="img">
            <figure>
              <a href="https://eoshackathon.io/" target="_blank" title="EOS Hackathon website">
                <picture>
                  <source data-srcset="{{ 'img/timeline/Converted120/2018-06_1_EOS_HK.webp' | to_cdn_url }}"
                          type="image/webp" />
                  <img src="{{ 'img/timeline/Converted120/2018-06_1_EOS_HK.jpg' | to_cdn_url }}" />
                </picture>
              </a>
            </figure>
          </div>
          <div class="description">
            <h3 class="text-muted">
              We have built a
              <a
                href="https://github.com/justrocknrolla/gitchain"
                title="Our project description and code"
                target="_blank"
                >GitChain</a
              >, decentralized version control system.
            </h3>
          </div>
        </div>
        <div>
          2
        </div>
      </div>
      <!--end portfolio grid -->
      <!--end portfolio sorting -->
    </div>
    <!--end row -->
  </div>
  <!-- end container-->
</section>