<!-- About Section -->

<section id="about-portfolio" class="portfolio">
  <div class="container">
    <div class="row" style="padding-top: 10px;">
      <section id="about_photos_only" style="padding: 0"></section>
      <!-- just to jump exactly to photos -->
    </div>
    <h2 class="portfolio-main-title">Meet our customers</h2>
    <div class="filter-list-wrap">
      <ul class="portfolio-display-mobile-list">
        <li>Filter:</li>
        <li class="filter-element"></li>
        <li class="portfolio-display-mobile-element">
          <i class="fas fa-filter"></i>
        </li>
      </ul>
      <ul
        class="portfolio-sorting mobile-hidden list-inline text-center"
        style="margin-bottom: 5px"
      >
        <li class="portfolio-title">
          <a
            href="#"
            id="filter-all"
            data-group='["all", "Java", "Spring Boot", "ReactJS", "NodeJS", "AWS", "Solidity", "EOS", "VueJS", "RxJS",
            "TypeScript","Google App Script", "Google Drive API", "PostgreSQL", "MySQL", "Kibana", "Elasticsearch",
            "React Native","Facebook Messenger API", "IBM Watson", "Flutter", "Alexa Skills Kit", "Ethereum",
            "Solidity", "Metamask", "Firebase", "ELK", "REST API", "Websockets", "RabbitMQ", "Swift", "Kotlin"]'
            >All</a
          >
        </li>
        <li class="portfolio-title"><a href="#" data-group="Java">Java</a></li>
        <li class="portfolio-title"><a href="#" data-group="NodeJS">NodeJS</a></li>
        <li class="portfolio-title"><a href="#" data-group="Spring Boot">Spring Boot</a></li>
        <li class="portfolio-title"><a href="#" data-group="VueJS">VueJS</a></li>
        <li class="portfolio-title"><a href="#" data-group="ReactJS">ReactJS</a></li>
        <li class="portfolio-title"><a href="#" data-group="RxJS">RxJS</a></li>
        <li class="portfolio-title"><a href="#" data-group="AWS">AWS</a></li>
        <li class="portfolio-title"><a href="#" data-group="TypeScript">TypeScript</a></li>
        <li class="portfolio-title"><a href="#" data-group="Solidity">Solidity</a></li>
        <li class="portfolio-title">
          <a href="#" data-group="Google App Script">Google App Script</a>
        </li>
        <li class="portfolio-title"><a href="#" data-group="PostgreSQL">PostgreSQL</a></li>
        <li class="portfolio-title"><a href="#" data-group="MySQL">MySQL</a></li>
<!--        <li class="portfolio-title"><a href="#" data-group="Kibana">Kibana</a></li>-->
        <li class="portfolio-title"><a href="#" data-group="Firebase">Firebase</a></li>
<!--        <li class="portfolio-title"><a href="#" data-group="Elasticsearch">Elasticsearch</a></li>-->
        <li class="portfolio-title"><a href="#" data-group="IBM Watson">IBM Watson</a></li>
        <!--        <li class="portfolio-title"><a href="#" data-group="EOS">EOS</a></li>-->
        <li class="portfolio-title"><a href="#" data-group="Metamask">Metamask</a></li>
        <li class="portfolio-title"><a href="#" data-group="React Native">React Native</a></li>
        <li class="portfolio-title">
          <a href="#" data-group="Facebook Messenger API">Facebook Messenger API</a>
        </li>
        <li class="portfolio-title"><a href="#" data-group="Flutter">Flutter</a></li>
        <li class="portfolio-title">
          <a href="#" data-group="Alexa Skills Kit">Alexa Skills Kit</a>
        </li>
        <li class="portfolio-title"><a href="#" data-group="RabbitMQ">RabbitMQ</a></li>
        <li class="portfolio-title">
          <a href="#" data-group="Google Drive API">Google Drive API</a>
        </li>
        <li class="portfolio-title"><a href="#" data-group="REST API">REST API</a></li>
        <li class="portfolio-title"><a href="#" data-group="ELK">ELK</a></li>
        <li class="portfolio-title"><a href="#" data-group="Websockets">Websockets</a></li>
        <li class="portfolio-title"><a href="#" data-group="Ethereum">Ethereum</a></li>
      </ul>
      <!--end portfolio sorting -->
    </div>
    <ul class="portfolio-items list-unstyled" id="grid-portfolio">
      <!-- eoshk section started -->
      <li
        class="col-md-6 col-sm-6 col-xs-12"
        data-groups='["Java", "ReactJS", "Flutter", "React Native", "ELK", "PostgreSQL", "AWS", "Spring Boot", "TypeScript"]'
      >
        <div class="portfolio-item">
          <div class="portfolio-item-title">CryptoTax</div>
          <div class="portfolio-item-first-section">
            <div class="portfolio-image-wrap">
              <div class="projects" id="first-project" title="Click to see details">
                <picture>
                  <source srcset="{{ 'img/portfolio/CryptoTax.webp' | to_cdn_url }}"
                          type="image/webp">
                  <img src="{{ 'img/portfolio/CryptoTax.jpg' | to_cdn_url }}"
                       alt="CryptoTax"
                       class="img-responsive img-portfolio">
                </picture>
              </div>
            </div>
            <h2 class="portfolio-item-solution portfolio-item-name hidden first-project">
              Solution
            </h2>
            <div class="portfolio-item-description hidden first-project">
              CML Team implemented core taxation engine for German and Switzerland markets. Backend
              consists of different complex workflows of tax report fees calculation. A number of
              operations supported (trades, deposits, withdrawals) as well as a coverage of the most
              frequent crypto assets use cases (stacking, lending, ICO, hard-fork). The project
              includes deep integration with popular crypto exchanges, wallets and aggregators
              including Binance, Bitfinex, Coinbase, Poloniex, Kraken, Ethereum Wallet and many
              others. Frontend was built using React and Redux with focus on great UX and responsive
              design.
            </div>
          </div>
          <div class="portfolio-item-second-section hidden first-project">
            <h2 class="portfolio-item-name">
              Client
            </h2>
            <div class="portfolio-item-description">
              CryptoTax are enthusiastic about decentralization and the new opportunities enabled by
              blockchain technology. They want to contribute to this development by offering premium
              tax reporting solutions for private and institutional investors.
            </div>
            <h2 class="portfolio-item-name">
              Description
            </h2>
            <div class="portfolio-item-description">
              A complex cloud-based taxation product for crypto space in European and International
              markets.
            </div>
            <h2 class="portfolio-item-name">
              Role
            </h2>
            <div class="portfolio-item-description">
              Full cycle development from requirements specification and architecture to deployment,
              3rd line support and maintenance.
            </div>
            <h2 class="portfolio-item-name">
              Team and duration
            </h2>
            <div class="portfolio-item-description">
              Tech Lead and 3 FTE in development team working for 13 months (ongoing).
            </div>
            <h2 class="portfolio-item-name">
              Industries
            </h2>
            <div class="portfolio-item-description">
              Taxation, Crypto.
            </div>
            <h2 class="portfolio-item-name">
              Country
            </h2>
            <div class="portfolio-item-description">
              Germany
            </div>
            <h2 class="portfolio-item-name">
              Technologies
            </h2>
            <div class="portfolio-item-description">
              Java, ReactJS, Spring Boot, Spring Framework, Typescript, Hibernate, ELK, Newrelic,
              Tomcat, AWS, PostgreSQL.
            </div>
          </div>
        </div>
      </li>
      <li
        class="col-md-6 col-sm-6 col-xs-12"
        data-groups='["Java", "Spring Boot", "Facebook Messenger API", "IBM Watson", "Alexa Skills Kit", "ELK", "MySQL"]'
      >
        <div class="portfolio-item">
          <div class="portfolio-item-title">Party Bunny</div>
          <div class="portfolio-item-first-section">
            <div class="portfolio-image-wrap">
              <div class="projects" id="second-project" title="Click to see details">
                <picture>
                  <source srcset="{{ 'img/portfolio/PartyBunny.webp' | to_cdn_url }}"
                          type="image/webp" />
                  <img src="{{ 'img/portfolio/PartyBunny.jpg' | to_cdn_url }}"
                       alt="PartyBunny"
                       class="img-responsive img-portfolio"/>
                </picture>
              </div>
            </div>
            <h2 class="portfolio-item-solution portfolio-item-name hidden second-project">
              Solution
            </h2>
            <div class="portfolio-item-description hidden second-project">
              A platform for managing nightlife events and import them from different sources via
              various APIs and manually.
              <br />
              A Facebook Chatbot and Alexa Skill on top of that platform that allows Dubai and
              Bangkok users to find easily a night-life event nearby.
            </div>
            <h2 class="portfolio-item-name hidden second-project">
              Result
            </h2>
            <div class="portfolio-item-description hidden second-project">
              Once product released in gets a good traction in Dubai and it allows us to build a
              long-term relationship with client.
            </div>
          </div>
          <div class="portfolio-item-second-section hidden second-project">
            <h2 class="portfolio-item-name">
              Client
            </h2>
            <div class="portfolio-item-description">
              Nadya Tereshina is a serial entrepreneur and successful producer in music and filming
              entertainment industries.
            </div>
            <h2 class="portfolio-item-name">
              Description
            </h2>
            <div class="portfolio-item-description">
              Living in Dubai one of the most cosmopolitan and fast-growing city in the world Nadya
              saw a huge demand for expats in entertainment industry and more particularly in
              night-life. The idea was to build a chatbot called PartyBunny that will allow people
              to find different entertainment events around Dubai.
            </div>
            <h2 class="portfolio-item-name">
              Role
            </h2>
            <div class="portfolio-item-description">
              Full cycle development from requirements specification and architecture to deployment,
              3rd line support and maintenance
            </div>
            <h2 class="portfolio-item-name">
              Team and duration
            </h2>
            <div class="portfolio-item-description">
              Two Full-Stack Engineers in development team working for 2 years (ongoing)
            </div>
            <h2 class="portfolio-item-name">
              Industries
            </h2>
            <div class="portfolio-item-description">
              Entertainment, Chatbots, Voice Assistants
            </div>
            <h2 class="portfolio-item-name">
              Country
            </h2>
            <div class="portfolio-item-description">
              United Arab Emirates
            </div>
            <h2 class="portfolio-item-name">
              Technologies
            </h2>
            <div class="portfolio-item-description">
              Java, Spring Boot, FB Messenger API, IBM Watson, Alexa Skills Kit
            </div>
          </div>
        </div>
      </li>
      <li
        class="col-md-6 col-sm-6 col-xs-12"
        data-groups='["Ethereum", "Solidity", "Metamask", "ReactJS", "Firebase"]'
      >
        <div class="portfolio-item">
          <div class="portfolio-item-title">CryptoMiner World</div>
          <div class="portfolio-item-first-section">
            <div class="portfolio-image-wrap">
              <div class="projects" id="third-project" title="Click to see details">
                <picture>
                  <source srcset="{{ 'img/portfolio/CryptoMiner.webp' | to_cdn_url }}"
                          type="image/webp" />
                  <img src="{{ 'img/portfolio/CryptoMiner.jpg' | to_cdn_url }}"
                       alt="CryptoMiner"
                       class="img-responsive img-portfolio img-full-width-320"
                  />
                </picture>
              </div>
            </div>
            <h2 class="portfolio-item-solution portfolio-item-name hidden third-project">
              Solution
            </h2>
            <div class="portfolio-item-description hidden third-project">
              CML Team build a blockchain protocol that handles all the complex game mechanic and
              support country sale monetization model. On top of that protocol we’ve built an API
              that game front-end can seamlessly communicate with. Frontend was built using React
              and Redux with focus on great UX and responsive design.
            </div>
            <h2 class="portfolio-item-name hidden third-project">
              Result
            </h2>
            <div class="portfolio-item-description hidden third-project">
              Once product released in gets a good traction between crypto gamers and it allows us
              to build built a long-term relationship with Sophophilia Studios.
            </div>
            <h2 class="portfolio-item-name hidden third-project">
              Technologies
            </h2>
            <div class="portfolio-item-description hidden third-project">
              Ethereum, Solidity, Metamask, ReactJS, Firebase
            </div>
            <h2 class="portfolio-item-name hidden third-project">
              Industries
            </h2>
            <div class="portfolio-item-description hidden third-project">
              Entertainment, Crypto
            </div>
          </div>
          <div class="portfolio-item-second-section hidden third-project">
            <h2 class="portfolio-item-name">
              Client
            </h2>
            <div class="portfolio-item-description">
              Sophophilia Studios strives to innovate in an ever-expanding sea of games. The most
              important aspect is the non-traditional background in the gaming world. They strive to
              evoke emotion in the player, let it be laughter or self-reflection. The worlds are
              visually appealing and complex, but simple to enter.
            </div>
            <h2 class="portfolio-item-name">
              Description
            </h2>
            <div class="portfolio-item-description">
              Some of the very first games in this space were collectables, such as CryptoKitties.
              Those games utilize the ERC-721 non-fungible token protocol. This basically makes each
              ERC-721 token, unique, tradable and potentially very profitable. These games typically
              have a high barrier of entry due to expensive assets or have rules that mask the
              rarity and value to the player. Furthermore, despite the growing number of these
              games, many of them are cookie cutter versions of the original with little innovation
              or imagination.
              <br />
              Idle games have developed systems where the player may start with a foundation of
              units that create more units over time. While these games are simple to understand,
              they generally lack depth and can quickly become dull.
              <br />
              CryptoMiner World by Sophophilia Studios combines the best of both crypto games’
              genres to make a unique and fun experience for all players.
            </div>
            <h2 class="portfolio-item-name">
              Role
            </h2>
            <div class="portfolio-item-description">
              Blockchain architecture and full cycle development from requirements specification and
              architecture to deployment, 3rd line support and maintenance
            </div>
            <h2 class="portfolio-item-name">
              Team and duration
            </h2>
            <div class="portfolio-item-description">
              Blockchain Solution Architect and Full-Stack Engineer in development team working for
              13 months (ongoing)
            </div>
            <h2 class="portfolio-item-name">
              Country
            </h2>
            <div class="portfolio-item-description">
              United States
            </div>
          </div>
        </div>
      </li>
      <li
        class="col-md-6 col-sm-6 col-xs-12"
        data-groups='["Java", "Spring Boot", "ReactJS", "Google App Script", "Google Drive API", "ELK"]'
      >
        <div class="portfolio-item">
          <div class="portfolio-item-title">Layer</div>
          <div class="portfolio-item-first-section">
            <div class="portfolio-image-wrap">
              <div class="projects" id="forth-project" title="Click to see details">
                <picture>
                  <source srcset="{{ 'img/portfolio/goLayer.webp' | to_cdn_url }}"
                          type="image/webp" />
                  <img src="{{ 'img/portfolio/goLayer.jpg' | to_cdn_url }}"
                       alt="Layer"
                       class="img-responsive img-portfolio img-full-width-320"
                  />
                </picture>
              </div>
            </div>
            <h2 class="portfolio-item-solution portfolio-item-name hidden forth-project">
              Solution
            </h2>
            <div class="portfolio-item-description hidden forth-project">
              Tool for managing and automating the Finance processes using spreadsheets (Excel and
              Google Sheets).
            </div>
            <h2 class="portfolio-item-name hidden forth-project">
              Result
            </h2>
            <div class="portfolio-item-description hidden forth-project">
              In a matter of weeks delivered a fully working cloud solution for spreadsheet
              management, a full-fledged Financial Tool for CFOs and Managers from different
              verticals of the companies (HR, accounting, etc.).
            </div>
            <h2 class="portfolio-item-name hidden forth-project">
              Technologies
            </h2>
            <div class="portfolio-item-description hidden forth-project">
              Java, Spring Boot, React.js, Google App Script, Google Drive API, ELK
            </div>
          </div>
          <div class="portfolio-item-second-section hidden forth-project">
            <h2 class="portfolio-item-name">
              Client
            </h2>
            <div class="portfolio-item-description">
              Layer is backed by leading investors and finance veterans who have a global mission to
              supercharge spreadsheets with state of the art technology and design.
            </div>
            <h2 class="portfolio-item-name">
              Description
            </h2>
            <div class="portfolio-item-description">
              <ul>
                <li>It is a tool for managing and automating the spreadsheets</li>

                <li>
                  99% of all companies worldwide use MS Excel or Google Sheets. Yet, managing
                  spreadsheet processes is painful
                </li>
                <li>
                  Layer helps to build processes on top of existing spreadsheets: no more email ping
                  pong, manual copy-pasting and manual backups
                </li>
                <li>
                  Using web-app with reach UI CFO can easily adjust permission levels of various
                  sub-managers to different parts of the data. Each sub-manager can submit changes
                  to the business case using Google Sheets Add-on. CFO can accept or reject the
                  changes, and rollback to any revision of the business case in past.
                </li>
              </ul>
            </div>
            <h2 class="portfolio-item-name">
              Role
            </h2>
            <div class="portfolio-item-description">
              Full cycle development from requirements specification and architecture to deployment,
              3rd line support and maintenance
            </div>
            <h2 class="portfolio-item-name">
              Team and duration
            </h2>
            <div class="portfolio-item-description">
              One Full-Stack Engineer in development team working for 10 weeks.
            </div>
            <h2 class="portfolio-item-name">
              Country
            </h2>
            <div class="portfolio-item-description">
              Germany
            </div>
            <h2 class="portfolio-item-name">
              Industries
            </h2>
            <div class="portfolio-item-description">
              Finance, Accounting, Productivity
            </div>
          </div>
        </div>
      </li>

      <li
        class="col-md-6 col-sm-6 col-xs-12"
        data-groups='["NodeJS", "VueJS", "TypeScript", "RxJS", "REST API", "Websockets", "RabbitMQ", "PostgreSQL"]'
      >
        <div class="portfolio-item">
          <div class="portfolio-item-title">Trade Republic</div>
          <div class="portfolio-item-first-section">
            <div class="portfolio-image-wrap">
              <div class="projects" id="fifth-project" title="Click to see details">
                <picture>
                  <source srcset="{{ 'img/portfolio/TradeRepublic.webp' | to_cdn_url }}"
                          type="image/webp" />
                  <img src="{{ 'img/portfolio/TradeRepublic.jpg' | to_cdn_url }}"
                       alt="Trade Republic"
                       class="img-responsive img-portfolio img-full-width-320"
                  />
                </picture>
              </div>
            </div>
            <h2 class="portfolio-item-solution portfolio-item-name hidden fifth-project">
              Solution
            </h2>
            <div class="portfolio-item-description hidden fifth-project">
              Administrative web-application for all the backend systems for the new German Stock
              Exchange Trading platform and Broker Bank.
            </div>
            <h2 class="portfolio-item-name hidden fifth-project">
              Result
            </h2>
            <div class="portfolio-item-description hidden fifth-project">
              As a result, the new platform has been released just in time and in a good quality,
              that brings a good traction.
            </div>
            <h2 class="portfolio-item-name hidden fifth-project">
              Technologies
            </h2>
            <div class="portfolio-item-description hidden fifth-project">
              Node.js, Vue.js, TypeScript, RxJS, REST API, Websockets, RabbitMQ
            </div>
          </div>
          <div class="portfolio-item-second-section hidden fifth-project">
            <h2 class="portfolio-item-name">
              Client
            </h2>
            <div class="portfolio-item-description">
              Germany's first mobile and commission-free broker bank that allows trading shares and
              ETFs without order commissions on the stock exchange.
            </div>
            <h2 class="portfolio-item-name">
              Description
            </h2>
            <div class="portfolio-item-description">
              <ul>
                <li>
                  Implemented the full scope of the project including server side (based on NodeJS)
                  and client front-end (based on VueJS and TypeScript) as well as integrating with
                  all the back-end systems (through REST APIs, Websockets, RabbitMQ, etc).
                </li>

                <li>
                  Working closely with other developers on client side to provide seamless
                  integration with all the subsystems.
                </li>
                <li>
                  Have delivered many new features to the application in accordance with very
                  dynamically changing business requirements.
                </li>
              </ul>
            </div>
            <h2 class="portfolio-item-name">
              Role
            </h2>
            <div class="portfolio-item-description">
              Full cycle development from requirements specification and architecture to deployment,
              3rd line support and maintenance
            </div>
            <h2 class="portfolio-item-name">
              Team and duration
            </h2>
            <div class="portfolio-item-description">
              Two Full-Stack Engineers in development team working for 6 months.
            </div>
            <h2 class="portfolio-item-name">
              Country
            </h2>
            <div class="portfolio-item-description">
              Germany
            </div>
            <h2 class="portfolio-item-name">
              Industries
            </h2>
            <div class="portfolio-item-description">
              Finance, Banking, Trading
            </div>
          </div>
        </div>
      </li>
      <li
              class="col-md-6 col-sm-6 col-xs-12"
              data-groups='["Swift", "ELK", "Kotlin", "AWS", "PostgreSQL", "MaterialUI"]'
      >
        <div class="portfolio-item">
          <div class="portfolio-item-title">REM (Real Estate Management) iOS/Android</div>
          <div class="portfolio-item-first-section">
            <div class="portfolio-image-wrap">
              <div class="projects" id="sixth-project" title="Click to see details">
                <picture>
                  <source srcset="{{ 'img/portfolio/REMMobile.webp' | to_cdn_url }}"
                          type="image/webp" />
                  <img src="{{ 'img/portfolio/REMMobile.jpg' | to_cdn_url }}"
                       alt="REM (Real Estate Management) Mobile"
                       class="img-responsive img-portfolio"/>
                </picture>
              </div>
            </div>
            <h2 class="portfolio-item-solution portfolio-item-name hidden sixth-project">
              Solution
            </h2>
            <div class="portfolio-item-description hidden sixth-project">
              <br /> iOS/Android apps for landlords with access to most of the features accessible in the REM PMS (Property Management System).
              <br /> The tenant mobile app was implemented to submit maintenance tickets, manage payments and communicate with the landlord.
              <br /> Enriched PMS we’ve built with the support of different workflows and processing logic (including invoicing, agreements signing, payments, etc.)
            </div>
            <h2 class="portfolio-item-name hidden sixth-project">
              Result
            </h2>
            <div class="portfolio-item-description hidden sixth-project">
              Successful pilot currently running on hundreds of properties, where landlords and their managers widely use the mobile apps to execute their daily tasks and workflows
            </div>
          </div>
          <div class="portfolio-item-second-section hidden sixth-project">
            <h2 class="portfolio-item-name">
              Client
            </h2>
            <div class="portfolio-item-description">
              Anlit Technologies LLC is successful IT company in multiple domains. With headquarters Anchorage, Alaska
            </div>
            <h2 class="portfolio-item-name">
              Description
            </h2>
            <div class="portfolio-item-description">
              Mr. Juan Pulido being a founder of Anlit Technologies he's invested significantly in dozens of properties in real estate properties.
              <br />Knowing exactly from the customers and landlords' perspective what kind of challenges and routines they experience daily.
              <br />He come up with the brilliant idea on how to organize all the individual puzzles together to ease the problem of real estate management
            </div>
            <h2 class="portfolio-item-name">
              Role
            </h2>
            <div class="portfolio-item-description">
              Design and full cycle development of iOS and Android apps for landlords and tenants.
            </div>
            <h2 class="portfolio-item-name">
              Team and duration
            </h2>
            <div class="portfolio-item-description">
              iOS and Android developers in development team working for over 1 year (ongoing)
            </div>
            <h2 class="portfolio-item-name">
              Industries
            </h2>
            <div class="portfolio-item-description">
              Hospitality
            </div>
            <h2 class="portfolio-item-name">
              Country
            </h2>
            <div class="portfolio-item-description">
              United States
            </div>
            <h2 class="portfolio-item-name">
              Technologies
            </h2>
            <div class="portfolio-item-description">
              Swift, Xcode, TestFlight, Kotlin, Android Studio, Material UI, AWS S3, SendGrid, Twilio, ELK (Kibana, ElasticSearch), PostgreSQL
            </div>
          </div>
        </div>
      </li>
      <li class="col-md-6 col-sm-6 col-xs-12 shuffle_sizer"></li>
    </ul>
    <!--end row -->
  </div>
  <!-- end container-->
</section>
