<!-- Services Section -->
<section id="calendar" style="margin-top: 20px; background-color: #ffffff">
        <div id="calendar-alex-info" class="calendar-element">
            <div class="calendar-picture">
                <img class="picture-description" src="https://cf.jare.io?u={{ site.baseurl }}/img/team/1.webp"/>
            </div>
            <div class="calendar-story">
                <h1 class="calendar-title">Oleksandr Shchetynin</h1>
                <h2 class="calendar-subtitle">CVO & CO-FOUNDER</h2>
                <h3 class="calendar-description">Worked in companies of different sizes, from successful startups to Fortune 500 companies, performing mission-critical responsibilities, developing and implementing high-tech IT solutions for variety of industries.</h3>
            </div>
        </div>

        <div id="calendar-vlad-info" class="calendar-element">
            <div class="calendar-picture">
                <img class="picture-description" src="https://cf.jare.io?u={{ site.baseurl }}/img/team/2.webp"/>
            </div>
            <div class="calendar-story">
                <h1 class="calendar-title">Vladyslav Sikach</h1>
                <h2 class="calendar-subtitle">CEO & CO-FOUNDER</h2>
                <h3 class="calendar-description">Has extensive business development and quantitative analytics experience from Head of Process Development in one of CIS’s leaders in debt collection to Business Architect in large Asian bank.</h3>
            </div>
        </div>

        <div id="calendar-alex-calendly" class="calendar-table">
            <!-- Calendly inline widget begin -->
            <div class="calendly-inline-widget" data-url="https://calendly.com/shchetynin/30min?month-view=disabled">
            </div>
            <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
            <!-- Calendly inline widget end -->
        </div>
        <div id="calendar-vlad-calendly" class="calendar-table">
            <!-- Calendly inline widget begin -->
            <div class="calendly-inline-widget" data-url="https://calendly.com/sikach/30min?month-view=disabled">
            </div>
            <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
            <!-- Calendly inline widget end -->
        </div>
    </section>
