<!-- Careers Section -->
<section id="careers">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Careers</h2>
				<h3 class="section-subheading text-muted">Our jobs.</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
					<span class="fa-stack fa-4x">
						<i class="fa fa-circle fa-stack-2x text-primary"></i>
						<i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
					</span>
				<h4 class="service-heading">Sales Manager</h4>
				<p class="text-muted">The CML Consulting philosophy of rapid, merit-based promotion means that you
					advance based on performance- when you earn it, not when we tell you so.
					Our motto is that "we work as hard for you, as you do," focusing our attention on those who put
					forth the most effort and show the most dedication and willingness to learn, grow, and develop.</p>
				<p class="text-muted">
					Pay based upon performance. The CML Consulting will develop our people, personally and professionally,
					into leadership beasts and management rock stars!!! We will promote team success and individual
					achievements in an always positive atmosphere. Everyone at CML Consulting understands that they
					hold a key role within the sales and management teams.</p>
			</div>
			<div class="col-md-4">
					<span class="fa-stack fa-4x">
						<i class="fa fa-circle fa-stack-2x text-primary"></i>
						<i class="fa fa-database fa-stack-1x fa-inverse"></i>
					</span>
				<h4 class="service-heading">Office Manager / Executive Assistant</h4>
				<p class="text-muted">CML Consulting is seeking an experienced Office Manager to support our operational
					and administrative needs. This is a full-time role, reporting to the Head of Operations and working
					closely with the CEO, Head of Client Services, and all staff members.</p>
			</div>
			<div class="col-md-4">
					<span class="fa-stack fa-4x">
						<i class="fa fa-circle fa-stack-2x text-primary"></i>
						<i class="fa fa-university fa-stack-1x fa-inverse"></i>
					</span>
				<h4 class="service-heading">Software Engineer</h4>
				<p class="text-muted">As a Senior Java Engineer, you will live on the front lines of the products we
					create, and build features used by millions of people every day. Our customers is a large company
					with complex management structure.</p>
				<p class="text-muted">The project is about developing Enterprise Unified Endpoint Management solution
					for mobile devices. The main purposes include centralized managing mobile devices for an organization
					to protect business information, keep mobile workers connected with the information that they need,
					provide administrators with efficient business tools and simplified UI with industry-leading security.</p>
			</div>
		</div>
		</div>
	</div>
</section>
