<!-- Services Section -->
<section id="events" style="margin-top: 20px; background-color: #ffffff">
    <div class="slideshow-container">
        <div class="events-popup">
            <div class="mobile-hidden close-button-calendar">Close <i class="fa fa-times fa-inverse"></i></div>
            <!-- Calendly inline widget begin
            <div class="pop-up-events">
                <div class='calendly-inline-widget hide-pop-up-events' data-url='https://calendly.com/shchetynin/30min?month-view=disabled'>

            </div>
            <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
            -->
            <!-- Calendly inline widget end -->
        </div>
    </div>
    <div id="event-slides-section" class="event-slides-section owl-carousel owl-theme">

        <div class="event-slide">
            <div class="event-image-div">
                <a class="event-image-links" target="_blank" style="text-decoration: none" href="https://jeeconf.com/">
                    <img class="event-image" src="img/logos/jee-logo-big.png">
                </a>
            </div>
            <div class="event-name">Java Eastern Europe Conference</div>
            <div class="event-schedule" id="event-1" type="button">Schedule a Meeting</div>
            <div class="event-place">
                <a target="_blank" style="text-decoration: none"
                   href="https://goo.gl/maps/Rs7NDDcTeEUFWBtv8">Mercure Congress Hall, Kyiv, Ukraine</a>
            </div>
            <div class="event-date">April 26-27 2019</div>
        </div>

        <div class="event-slide">
            <div class="event-image-div">
                <a class="event-image-links" target="_blank" style="text-decoration: none" href="https://piratesummit.com/">
                    <img class="event-image" src="img/logos/piratesummit_logo.jpg">
                </a>
            </div>
            <div class="event-name">Europe conference for early-stage startups</div>
            <div class="event-schedule" id="event-2" type="button">Schedule a Meeting</div>
            <div class="event-place"><a target="_blank" style="text-decoration: none"
                                        href="https://goo.gl/maps/4n9JMCXjxaYddFcP9">Odonien, Cologne, Germany</a>
            </div>
            <div class="event-date">June 26-28 2019</div>
        </div>

        <div class="event-slide">
            <div class="event-image-div">
                <a class="event-image-links" target="_blank" style="text-decoration: none" href="https://riseconf.com/">
                    <img class="event-image" src="img/logos/rise.jpeg">
                </a>
            </div>
            <div class="event-name">The largest tech conference in Asia</div>
            <div class="event-schedule" id="event-3" type="button">Schedule a Meeting</div>
            <div class="event-place">
                <a target="_blank" style="text-decoration: none"
                   href="https://goo.gl/maps/EY5rtq8gAG2izynz9">Hong Kong Exhibition Centre</a>
            </div>
            <div class="event-date">July 8-11 2019</div>
        </div>

        <div class="event-slide">
            <div class="event-image-div">
                <a class="event-image-links" target="_blank" style="text-decoration: none" href="https://websummit.com/">
                    <img class="event-image" src="img/logos/websummit.jpg">
                </a>
            </div>
            <div class="event-name">The largest technology conference on the planet</div>
            <div class="event-schedule" id="event-4" type="button">Schedule a Meeting
            </div>
            <div class="event-place"><a target="_blank" style="text-decoration: none"
                                        href="https://goo.gl/maps/zPrEoJKr2BZGumNb7">Altice arena & Fil, Lisbon,
                Portugal</a>
            </div>
            <div class="event-date">November 4-7 2019</div>
        </div>

    </div>
</section>
