<!-- Services Section -->
<section id="events" style="margin-top: 20px; background-color: #ffffff">
    <div class="slideshow-container">
        <div class="events-popup">
            <!-- Calendly inline widget begin
            <div class="pop-up-events">
                <div class='calendly-inline-widget hide-pop-up-events' data-url='https://calendly.com/shchetynin/30min?month-view=disabled'>
            </div>
            <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
            -->
            <!-- Calendly inline widget end -->
        </div>
    </div>
    <div class="event-slides-section">
        <div class="event-left-button" type="button">
            <i class="fas fa-caret-left fa-w-6 svg-inline--fa"></i>
        </div>
        <!-- Full-width images with number and caption text -->

        <div class="event-slides">
            <div class="event-image">
                <img src="img/logos/themeforest.jpg">
            </div>
            <div class="event-name">The largest tech conference in Asia First</div>
            <div class="event-schedule" id="event-asia-conference" type="button">Schedule a Meeting</div>
            <div class="event-place">Hong Kong Exhibition Centre</div>
            <div class="event-date">July 8-11 2019</div>
        </div>

        <div class="event-slides">
            <div class="event-image">
                <img src="img/logos/themeforest.jpg">
            </div>
            <div class="event-name">The largest tech conference in Asia Second</div>
            <div class="event-schedule" id="event-asiasecond-conference" type="button">Schedule a Meeting</div>
            <div class="event-place">Hong Kong Exhibition Centre</div>
            <div class="event-date">July 8-11 2019</div>
        </div>

        <div class="event-slides">
            <div class="event-image">
                <img src="img/logos/themeforest.jpg">
            </div>
            <div class="event-name">The largest tech conference in Asia Third</div>
            <div class="event-schedule" id="event-asiathird-conference" type="button">Schedule a Meeting</div>
            <div class="event-place">Hong Kong Exhibition Centre</div>
            <div class="event-date">July 8-11 2019</div>
        </div>

        <div class="event-slides">
            <div class="event-image">
                <img src="img/logos/themeforest.jpg">
            </div>
            <div class="event-name">The largest tech conference in Asia Forth</div>
            <div class="event-schedule" id="event-asiaforth-conference" type="button">Schedule a Meeting
            </div>
            <div class="event-place">Hong Kong Exhibition Centre</div>
            <div class="event-date">July 8-11 2019</div>
        </div>

        <div class="event-slides">
            <div class="event-image">
                <img src="img/logos/themeforest.jpg">
            </div>
            <div class="event-name">The largest tech conference in Asia Fifth</div>
            <div class="event-schedule" id="event-asiafifth-conference" type="button">Schedule a Meeting</div>
            <div class="event-place">Hong Kong Exhibition Centre</div>
            <div class="event-date">July 8-11 2019</div>
        </div>

        <div class="event-slides">
            <div class="event-image">
                <img src="img/logos/themeforest.jpg">
            </div>
            <div class="event-name">The largest tech conference in Asia Six</div>
            <div class="event-schedule" id="event-asiasix-conference" type="button">Schedule a Meeting</div>
            <div class="event-place">Hong Kong Exhibition Centre</div>
            <div class="event-date">July 8-11 2019</div>
        </div>

        <div class="event-right-button" type="button">
            <i class="fas fa-caret-right a-stack-3x"></i>
        </div>
    </div>
    </div>
    <div class="event-dots" style="text-align:center">
    </div>
</section>
