<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="calendar-button navbar-toggle">
                    <a class="calendar-a" href="/callus/">Schedule A Call</a>
                </div>
                <div class="back-button-header hidden navbar-toggle">
                    <a class="back-button-a">< Back</a>
                </div>
                <div class="navbar-brand-div"><a class="navbar-brand page-scroll" href="#page-top">{{ site.full-name }}</a></div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about-portfolio">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" target="_blank" href="https://medium.com/cmlteam">Blog</a>
                    </li>
                    <li class="calendar-button nav-mobile-hidden">
                        <a class="calendar-a" href="/callus">Schedule A Call</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <div class="subheader-section">
            <ul class="subheader-list">
                <li class="subheader-li">
                    <a class="subheader-a mobile-hidden page-scroll" id="portfolio-a" href="#about-portfolio">Portfolio</a>
                    <a class="subheader-a-hidden page-scroll" id="portfolio-a-mobile" href="#about-portfolio">Portfolio</a>
                </li>
                <li class="subheader-li">
                    <a class="subheader-a mobile-hidden page-scroll" id="hackathon-a" href="#about-hackathons">Hackathon Winners</a>
                    <a class="subheader-a-hidden page-scroll" id="hackathon-a-mobile" href="#about-hackathons">Hackathons
                    </a>
                </li>
                <li class="subheader-li">
                    <a class="subheader-a mobile-hidden page-scroll" id="customers-a" href="#about-customers">Customers Voice</a>
                    <a class="subheader-a-hidden page-scroll" id="customers-a-mobile" href="#about-customers">Feedback</a>
                </li>
            </ul>
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div id="particles"></div>
        <div class="container">
            <div class="intro-text">
                <!-- <div class="intro-lead-in">Welcome To CML!</div> -->
                <img id="helicopter" src="{{ site.server_url }}/img/cml/transparent-logo-enhanced.webp" style="
                    position: relative;/*make above canvas */
                    pointer-events: none/* but events-transparent */">
                <div class="intro-heading" style="position: relative;pointer-events: none"><span id="typed-animation"></span></div>
                <a href="#services"
                   style="position: relative/* make clickable over canvas */"
                   class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

