<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/bigpicture@1.3.0/dist/BigPicture.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script defer type="text/javascript" src="https://widget.clutch.co/static/js/widget.js"></script>

<script defer src="https://cdn.jsdelivr.net/npm/shufflejs@5.1.2/dist/shuffle.min.js"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/shufflejs@5.1.2/dist/shuffle.js"></script>-->

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script defer src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script defer src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script defer src="{{ 'js/jquery.easing.min.js' }}"></script>
<script defer src="{{ 'js/jquery.inview.min.js' }}"></script>
<script defer src="{{ 'js/classie.js' }}"></script>
<script defer src="{{ 'js/jqBootstrapValidation.js' }}"></script>
<script defer src="{{ 'js/introAnim.2.0.0.js' }}"></script>
<script defer src="{{ 'js/typed.1.1.7.min.js' }}"></script>

<script defer src="{{ 'js/cbpAnimatedHeader.js' }}"></script>
<script defer src="{{ 'js/about-hackathons.js' }}"></script>
<script defer src="{{ 'js/about-portfolio.js' }}"></script>
<script defer src="{{ 'js/about.js' }}"></script>
<script defer src="{{ 'js/contact_me.js' }}"></script>
<script defer src="{{ 'js/cml.js' }}"></script>
<script defer src="{{ 'js/service.js' }}"></script>
<script defer src="{{ 'js/events.js' }}"></script>
<script defer src="{{ 'js/teamPart.js' }}"></script>
