<section class="models-cooperation">

  <div class="container">

    <!-- hedaer -->
    {% 
      include components/header-service.html 
        title="Models of <br />cooperation"
        description="CML Team is a software development company that drives 
        the growth of your business. We create complex digital solutions 
        keeping the focus on the business value of each component."
    %}

    <!-- items for desktop -->
    <div class="models-cooperation-items desktop">
      {% for item in site.models-cooperation %}
        {% include components/model-cooperation-block.html item=item %}
      {% endfor %}
    </div> <!-- /items for desktop -->

    <!-- items for mobile -->
    <div id="models-cooperation" class="models-cooperation-items mobile">
      {% for item in site.models-cooperation %}
        <div class="slick-adjust-div">
          {% include components/model-cooperation-block.html item=item %}
        </div>
      {% endfor %}
    </div>

  </div>

</section>