<section id="services" class="our-industries">

  <div class="container">

    <!-- hedaer -->
    {%
      include components/header-service.html 
        title="our <br />industries"
        description="Our software development services include QA and DevOps consulting, 
        discrete product development, 3rd party system integration, data science, 
        and gamification."
    %}

    <!-- items for desktop -->
    <div class="industries-items desktop">
      {% for item in site.industries %}
        {% include components/idustries-block.html item=item %}
      {% endfor %}
    </div> <!-- /items -->

    <!-- items for monile -->
    <div id="our-industries" class="industries-items mobile">
      {% for item in site.industries %}
        <div class="slick-adjust-div">
          {% include components/idustries-block.html item=item %}
        </div>
      {% endfor %}
    </div>

  </div>

</section>