<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Gain objective advice and recommendations.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6" style="padding: 0 30px">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h2 class="service-heading">Full Stack Development</h2>
                    <ul>
                        <li class="text-services">New solutions implementation and integration using Java and ReactJS stack</li>
                        <li class="text-services">Infrastructure tier support includes Amazon Web Services, Microsoft Azure, Google Cloud Services, Elastic Search, Travis CI</li>
                        <li class="text-services">Full cycle development includes requirements gathering & analysis, planning, development, UAT, QA, execution and post-go-live monitoring & support</li>
                        <li class="text-services">Most robust methodologies: Test Driven Development, Scrum, Design Sprints</li>
                    </ul>
                </div>
                <div class="col-md-6" style="padding: 0 30px">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-btc fa-stack-1x fa-inverse"></i>
                    </span>
                    <h2 class="service-heading">Blockchain</h2>
                    <ul>
                        <li class="text-services">We are working with blockchain technology stack starting April 2017</li>
                        <li class="text-services">Deep understanding of blockchain and Ethereum VM</li>
                        <li class="text-services">Smart contract security is our main focus</li>
                        <li class="text-services">We build and maintain end-to-end secure and reliable solutions</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>