<!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <!-- Services Section -->
        <div class="service">
            <div class="service-block">
                <h2 class="service-title">Services</h2>
                <h4 class="service-subtitle">Holistic end-to-end solutions and platforms for startups and enterprises</h4>
            </div>
            <div class="service-subblocks">
                <div class="service-firstblock">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                    <h2 class="service-heading">Full Stack Development</h2>
                    <ul class="service-elements">
                        <li class="hidden-elements-section">
                            <div class="hidden-elements-block left-button-first" type="button">
                                <i class="fas fa-caret-left fa-w-6 svg-inline--fa"></i>
                            </div>
                        </li>
                        <li class="block-services  first-section">
                            <h2 class="service-naming">Fronted</h2>
                            <div class="service-images">
                                <img class="image-icon" src="img/services/react.png" />
                                <img class="image-icon" src="img/services/vuejs.png" />
                                <img class="image-icon" src="img/services/angular.png" />
                            </div>
                        </li>
                        <li class="block-services  first-section">
                            <h2 class="service-naming">Backend</h2>
                            <div class="service-images">
                                <img class="image-icon" src="img/services/node.png" />
                                <img class="image-icon" src="img/services/java.png" />
                                <img class="image-icon" src="img/services/dart.png" />
                            </div>
                        </li>
                        <li class="block-services  first-section">
                            <h2 class="service-naming">Databases</h2>
                            <div class="service-images">
                                <img class="image-icon" src="img/services/mysql.png" />
                                <img class="image-icon" src="img/services/firebase.png" />
                                <img class="image-icon" src="img/services/mongo.png" />
                                <img class="image-icon" src="img/services/elastic.png" />
                                <img class="image-icon" src="img/services/postgres.png" />
                            </div>
                        </li>
                        <li class="block-services  first-section">
                            <h2 class="service-naming">DevOps</h2>
                            <div class="service-images">
                                <img class="image-icon" src="img/services/aws-logo.png" />
                                <img class="image-icon" src="img/services/azure-logo.png" />
                                <img class="image-icon" src="img/services/travis-ci.png" />
                                <img class="image-icon" src="img/services/kibana.png" />
                                <img class="image-icon" src="img/services/bitmap5.png" />
                            </div>
                        </li>
                        <li class="block-services  first-section">
                            <h2 class="service-naming">Mobile</h2>
                            <div class="service-images">
                                <img class="image-icon" src="img/services/flutter.png" />
                                <img class="image-icon" src="img/services/react-native.png" />
                                <img class="image-icon" src="img/services/bitmap.png" />
                            </div>
                        </li>
                        <li class="hidden-elements-section">
                            <div class="hidden-elements-block right-button-first" type="button">
                                <i class="fas fa-caret-right a-stack-3x"></i>
                            </div>
                        </li>
                    </ul>
                </div>
                <div lass="service-secondblock">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fab fa-btc fa-stack-1x fa-inverse"></i>
                </span>
                    <h2 class="service-heading">Blockchain</h2>
                    <ul class="service-elements">
                        <li class="hidden-elements-section">
                            <div class="hidden-elements-block left-button-second" type="button">
                                <i class="fas fa-caret-left a-stack-3x"></i>
                            </div>
                        </li>
                        <li class="block-services  second-section">
                            <h2 class="service-naming">Platforms</h2>
                            <div class="service-images">
                                <img class="image-icon" src="img/services/bitmap2.png" />
                                <img class="image-icon" src="img/services/bitmap3.png" />
                                <img class="image-icon" src="img/services/bitmap4.png" />
                            </div>
                        </li>
                        <li class="block-services second-section">
                            <h2 class="service-naming">Integration</h2>
                            <div class="service-images">
                                <img class="image-icon" src="img/services/metamask.png" />
                                <img class="image-icon" src="img/services/scatter.png" />
                                <img class="image-icon" src="img/services/status.png" />
                            </div>
                        </li>
                        <li class="block-services second-section">
                            <h2 class="service-naming">APIs</h2>
                            <div class="service-images">
                                <img class="image-icon" src="img/services/web-3.png" />
                                <img class="image-icon" src="img/services/oraclize.png" />
                                <h2 class="image-text">EOSJS</h2>
                            </div>
                        </li>
                        <li class="block-services second-section">
                            <h2 class="service-naming">Tools</h2>
                            <div class="service-images">
                                <img class="image-icon" src="img/services/truffle.png" />
                                <img class="image-icon" src="img/services/ganache.png" />
                                <img class="image-icon" src="img/services/drizzle.png" />
                            </div>
                        </li>
                        <li class="block-services second-section">
                            <h2 class="service-naming">Tokens</h2>
                            <div class="service-images">
                                <h2 class="image-text">ERC20</h2>
                                <h2 class="image-text">ERC223</h2>
                                <h2 class="image-text">ERC721</h2>
                                <h2 class="image-text">ERC777</h2>
                                <h2 class="image-text">ERC827</h2>
                                <h2 class="bottom-text-element" class="image-text">ERC1155</h2>
                            </div>
                        </li>
                        <li class="hidden-elements-section">
                            <div class="hidden-elements-block right-button-second" type="button">
                                <i class="fas fa-caret-right a-stack-3x"></i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="service-btn-section">
                <div class="service-btn" type="button" onClick='location.href="img/cmlteam.pdf"'>
                    <img class="service-btn-image" src="img/services/adobe.png" />
                    <h2 class="service-btn-name">Download Our Company Deck</h2>
                </div>
            </div>
        </div>
    </section>