<!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h4 class="section-heading text-muted">Gain objective advice and recommendations</h4>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6" style="padding: 0 20px">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h2 class="service-heading">Full Stack Development</h2>
                    <ul>
                        <li class="text-services">New solutions implementation and integration using Java and ReactJS stack</li>
                        <li class="text-services">Infrastructure tier support includes Amazon Web Services, Microsoft Azure, Google Cloud Services, Elastic Search, Travis CI</li>
                        <li class="text-services">Full cycle development includes requirements gathering & analysis, planning, development, UAT, QA, execution and post-go-live monitoring & support</li>
                        <li class="text-services">Most robust methodologies: Test Driven Development, Scrum, Design Sprints</li>
                    </ul>
                </div>
                <div class="col-md-6" style="padding: 0 20px">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-btc fa-stack-1x fa-inverse"></i>
                    </span>
                    <h2 class="service-heading">Blockchain</h2>
                    <ul>
                        <li class="text-services">End-to-end secure and reliable blockchain solutions development</li>
                        <li class="text-services">Smart contracts design, development, audit and optimisation of existing solutions</li>
                        <li class="text-services">POC Development, Hyperledger, Supply Chains, Wallets Protection, Private Blockchains, Cryptocurrency development and Crowdsales process organization</li>
                        <li class="text-services">Blockchain Consulting to obtain advice on successful setup of efficient blockchain solution for your business</li>
                    </ul>
                </div>
            </div>
            <div class="row text-right">
                <div style="width: 400px; height: 60px; float: right; background-color: #0077B5; border-radius: 5px;">
                    <div style="display: inline; float:left; padding-left: 20px; padding-top: 9px;"><img src="img/pdf-icon.webp" style="width: 40px;"/></div>
                    <div style="display: inline; float:right; padding-right: 30px; padding-top: 15px;"><a href="img/cmlteam.pdf" download style="color: #ffffff; font-size: 20px;">Download Our Company Deck</a></div>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
    </section>
