<!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <!-- Services Section -->
        <div class="service">
            <div class="service-block">
                <h2 class="service-title">Services</h2>
                <h4 class="service-subtitle">Holistic end-to-end solutions and platforms for startups and enterprises</h4>
            </div>
            <div class="service-subblocks">
                <div class="service-firstblock">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                    <h2 class="service-heading">Full Stack Development</h2>
                    <ul class="service-elements">
                        <li class="hidden-elements-section">
                            <div class="hidden-elements-block left-button-first" type="button">
                                <i class="fas fa-caret-left fa-w-6 svg-inline--fa"></i>
                            </div>
                        </li>
                        <li class="block-services  first-section">
                            <h2 class="service-naming">Frontend</h2>
                            <div class="service-images">
                                <picture class="image-icon">
                                    <source srcset="{{ 'img/services/react.webp' | to_jare_cdn_url }}"
                                            type="image/webp" />
                                    <img src="{{ 'img/services/react.png' | to_jare_cdn_url }}" />
                                </picture>
                                <picture class="image-icon">
                                    <source srcset="{{ 'img/services/vuejs.webp' | to_jare_cdn_url }}"
                                            type="image/webp" />
                                    <img src="{{ 'img/services/vuejs.png' | to_jare_cdn_url }}" />
                                </picture>
                                <picture class="image-icon">
                                    <source srcset="{{ 'img/services/angular.webp' | to_jare_cdn_url }}"
                                            type="image/webp" />
                                    <img src="{{ 'img/services/angular.png' | to_jare_cdn_url }}" />
                                </picture>
                            </div>
                        </li>
                        <li class="block-services  first-section">
                            <h2 class="service-naming">Backend</h2>
                            <div class="service-images">
                                <picture class="image-icon">
                                    <source srcset="{{ 'img/services/node.webp' | to_jare_cdn_url }}"
                                            type="image/webp" />
                                    <img src="{{ 'img/services/node.png' | to_jare_cdn_url }}" />
                                </picture>
                                <picture class="image-icon">
                                    <source srcset="{{ 'img/services/java.webp' | to_jare_cdn_url }}"
                                            type="image/webp" />
                                    <img src="{{ 'img/services/java.png' | to_jare_cdn_url }}" />
                                </picture>
                                <picture class="image-icon">
                                    <source srcset="{{ 'img/services/dart.webp' | to_jare_cdn_url }}"
                                            type="image/webp" />
                                    <img src="{{ 'img/services/dart.png' | to_jare_cdn_url }}" />
                                </picture>
                            </div>
                        </li>
                        <li class="block-services  first-section">
                            <h2 class="service-naming">Databases</h2>
                            <div class="service-images">
                                <picture class="image-icon">
                                    <source srcset="{{ 'img/services/mysql.webp' | to_jare_cdn_url }}"
                                            type="image/webp" />
                                    <img src="{{ 'img/services/mysql.png' | to_jare_cdn_url }}" />
                                </picture>
                                <picture class="image-icon">
                                    <source srcset="{{ 'img/services/firebase.webp' | to_jare_cdn_url }}"
                                            type="image/webp" />
                                    <img src="{{ 'img/services/firebase.png' | to_jare_cdn_url }}" />
                                </picture>
                                <picture class="image-icon">
                                    <source srcset="{{ 'img/services/mongo.webp' | to_jare_cdn_url }}"
                                            type="image/webp" />
                                    <img src="{{ 'img/services/mongo.png' | to_jare_cdn_url }}" />
                                </picture>
                                <picture class="image-icon">
                                    <source srcset="{{ 'img/services/elastic.webp' | to_jare_cdn_url }}"
                                            type="image/webp" />
                                    <img src="{{ 'img/services/elastic.png' | to_jare_cdn_url }}" />
                                </picture>
                                <picture class="image-icon">
                                    <source srcset="{{ 'img/services/postgres.webp' | to_jare_cdn_url }}"
                                            type="image/webp" />
                                    <img src="{{ 'img/services/postgres.png' | to_jare_cdn_url }}" />
                                </picture>
                            </div>
                        </li>
                        <li class="block-services  first-section">
                            <h2 class="service-naming">DevOps</h2>
                            <div class="service-images">
                                <picture class="image-icon">
                                    <source srcset="{{ 'img/services/aws-logo.webp' | to_jare_cdn_url }}"
                                            type="image/webp" />
                                    <img src="{{ 'img/services/aws-logo.png' | to_jare_cdn_url }}" />
                                </picture>
                                <picture class="image-icon">
                                    <source srcset="{{ 'img/services/azure-logo.webp' | to_jare_cdn_url }}"
                                            type="image/webp" />
                                    <img src="{{ 'img/services/azure-logo.png' | to_jare_cdn_url }}" />
                                </picture>
                                <picture class="image-icon">
                                    <source srcset="{{ 'img/services/travis-ci.webp' | to_jare_cdn_url }}"
                                            type="image/webp" />
                                    <img src="{{ 'img/services/travis-ci.png' | to_jare_cdn_url }}" />
                                </picture>
                                <picture class="image-icon">
                                    <source srcset="{{ 'img/services/kibana.webp' | to_jare_cdn_url }}"
                                            type="image/webp" />
                                    <img src="{{ 'img/services/kibana.png' | to_jare_cdn_url }}" />
                                </picture>
                                <picture class="image-icon">
                                    <source srcset="{{ 'img/services/bitmap5.webp' | to_jare_cdn_url }}"
                                            type="image/webp" />
                                    <img src="{{ 'img/services/bitmap5.png' | to_jare_cdn_url }}" />
                                </picture>
                            </div>
                        </li>
                        <li class="block-services  first-section">
                            <h2 class="service-naming">Mobile</h2>
                            <div class="service-images">
                                <picture class="image-icon">
                                    <source srcset="{{ 'img/services/flutter.webp' | to_jare_cdn_url }}"
                                            type="image/webp" />
                                    <img src="{{ 'img/services/flutter.png' | to_jare_cdn_url }}" />
                                </picture>
                                <picture class="image-icon">
                                    <source srcset="{{ 'img/services/react-native.webp' | to_jare_cdn_url }}"
                                            type="image/webp" />
                                    <img src="{{ 'img/services/react-native.png' | to_jare_cdn_url }}" />
                                </picture>
                                <picture class="image-icon">
                                    <source srcset="{{ 'img/services/bitmap.webp' | to_jare_cdn_url }}"
                                            type="image/webp" />
                                    <img src="{{ 'img/services/bitmap.png' | to_jare_cdn_url }}" />
                                </picture>
                            </div>
                        </li>
                        <li class="hidden-elements-section">
                            <div class="hidden-elements-block right-button-first" type="button">
                                <i class="fas fa-caret-right a-stack-3x"></i>
                            </div>
                        </li>
                    </ul>
                </div>
                <div lass="service-secondblock">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fab fa-btc fa-stack-1x fa-inverse"></i>
                </span>
                    <h2 class="service-heading">Blockchain</h2>
                    <ul class="service-elements">
                        <li class="hidden-elements-section">
                            <div class="hidden-elements-block left-button-second" type="button">
                                <i class="fas fa-caret-left a-stack-3x"></i>
                            </div>
                        </li>
                        <li class="block-services  second-section">
                            <h2 class="service-naming">Platforms</h2>
                            <div class="service-images">
                                <picture class="image-icon">
                                    <source srcset="{{ 'img/services/bitmap2.webp' | to_jare_cdn_url }}"
                                            type="image/webp" />
                                    <img src="{{ 'img/services/bitmap2.png' | to_jare_cdn_url }}" />
                                </picture>
                                <picture class="image-icon">
                                    <source srcset="{{ 'img/services/bitmap3.webp' | to_jare_cdn_url }}"
                                            type="image/webp" />
                                    <img src="{{ 'img/services/bitmap3.png' | to_jare_cdn_url }}" />
                                </picture>
                                <picture class="image-icon">
                                    <source srcset="{{ 'img/services/bitmap4.webp' | to_jare_cdn_url }}"
                                            type="image/webp" />
                                    <img src="{{ 'img/services/bitmap4.png' | to_jare_cdn_url }}" />
                                </picture>
                            </div>
                        </li>
                        <li class="block-services second-section">
                            <h2 class="service-naming">Integration</h2>
                            <div class="service-images">
                                <picture class="image-icon">
                                    <source srcset="{{ 'img/services/metamask.webp' | to_jare_cdn_url }}"
                                            type="image/webp" />
                                    <img src="{{ 'img/services/metamask.png' | to_jare_cdn_url }}" />
                                </picture>
                                <picture class="image-icon">
                                    <source srcset="{{ 'img/services/scatter.webp' | to_jare_cdn_url }}"
                                            type="image/webp" />
                                    <img src="{{ 'img/services/scatter.png' | to_jare_cdn_url }}" />
                                </picture>
                                <picture class="image-icon">
                                    <source srcset="{{ 'img/services/status.webp' | to_jare_cdn_url }}"
                                            type="image/webp" />
                                    <img src="{{ 'img/services/status.png' | to_jare_cdn_url }}" />
                                </picture>
                            </div>
                        </li>
                        <li class="block-services second-section">
                            <h2 class="service-naming">APIs</h2>
                            <div class="service-images">
                                <picture class="image-icon">
                                    <source srcset="{{ 'img/services/web-3.webp' | to_jare_cdn_url }}"
                                            type="image/webp" />
                                    <img src="{{ 'img/services/web-3.png' | to_jare_cdn_url }}" />
                                </picture>
                                <picture class="image-icon">
                                    <source srcset="{{ 'img/services/oraclize.webp' | to_jare_cdn_url }}"
                                            type="image/webp" />
                                    <img src="{{ 'img/services/oraclize.png' | to_jare_cdn_url }}" />
                                </picture>
                                <h2 class="image-text">EOSJS</h2>
                            </div>
                        </li>
                        <li class="block-services second-section">
                            <h2 class="service-naming">Tools</h2>
                            <div class="service-images">
                                <picture class="image-icon">
                                    <source srcset="{{ 'img/services/truffle.webp' | to_jare_cdn_url }}"
                                            type="image/webp" />
                                    <img src="{{ 'img/services/truffle.png' | to_jare_cdn_url }}" />
                                </picture>
                                <picture class="image-icon">
                                    <source srcset="{{ 'img/services/ganache.webp' | to_jare_cdn_url }}"
                                            type="image/webp" />
                                    <img src="{{ 'img/services/ganache.png' | to_jare_cdn_url }}" />
                                </picture>
                                <picture class="image-icon">
                                    <source srcset="{{ 'img/services/drizzle.webp' | to_jare_cdn_url }}"
                                            type="image/webp" />
                                    <img src="{{ 'img/services/drizzle.png' | to_jare_cdn_url }}" />
                                </picture>
                            </div>
                        </li>
                        <li class="block-services second-section">
                            <h2 class="service-naming">Tokens</h2>
                            <div class="service-images">
                                <h2 class="image-text">ERC20</h2>
                                <h2 class="image-text">ERC223</h2>
                                <h2 class="image-text">ERC721</h2>
                                <h2 class="image-text">ERC777</h2>
                                <h2 class="image-text">ERC827</h2>
                                <h2 class="bottom-text-element" class="image-text">ERC1155</h2>
                            </div>
                        </li>
                        <li class="hidden-elements-section">
                            <div class="hidden-elements-block right-button-second" type="button">
                                <i class="fas fa-caret-right a-stack-3x"></i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="service-btn-section">
                <div class="service-btn" type="button" onClick='location.href="{{ 'img/cmlteam.pdf"'>
                    <picture class="service-btn-image">
                        <source srcset="{{ 'img/services/adobe.webp' | to_jare_cdn_url }}"
                                type="image/webp" />
                        <img src="{{ 'img/services/adobe.png' | to_jare_cdn_url }}" />
                    </picture>
                    <div class="service-btn-name">Download Our Company Deck</div>
                </div>
            </div>
        </div>
    </section>
