<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Team</h2>
                <h4 class="section-heading text-muted">From seasoned hackathoners and professional software developers to fast growing startups and innovative entrepreneurs</h4>
            </div>
        </div>

        <div class="row">
            {% for member in site.people %}
            <div class="col-sm-6">
                <div class="team-member">
                    <picture>
                        <source srcset="{{ site.image_server_url }}/img/team/{{ member.pic }}.webp"
                                type="image/webp">
                        <img class="img-responsive img-circle"
                             src="{{ site.image_server_url }}/img/team/{{ member.pic }}.jpg"
                             alt="">
                    </picture>
                    <h4 style="white-space: nowrap;">{{ member.name }}</h4>
                    <p class="section-heading text-muted"><b>{{ member.position }}</b></p>
                    <p class="team-description text-muted">{{ member.description }}</p>
                    <ul class="list-inline social-buttons paddingtop_10">
                        {% for network in member.social %}
                        <li>
                            <a href="{{ network.url }}" target="_blank">
                                <i class="fab fa-{{ network.title }}"></i>
                            </a>
                        </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
        <div>
            <div class="team-photoes-mobile-section">
                <div class="left-button-team" type="button">
                    <i class="fas fa-caret-left fa-w-6 svg-inline--fa"></i>
                </div>
                <div class="team-photoes-list">

                </div>
                <div class="right-button-team" type="button">
                    <i class="fas fa-caret-right a-stack-3x"></i>
                </div>
            </div>

            <div class="team-photoes-section">

                <div class="team-photoes-column">
                    <div class="team-photoes">
                        <picture class="team-photo-img">
                            <source srcset="{{ site.image_server_url }}/img/portfolio/team1.webp"
                                    type="image/webp">
                            <img src="{{ site.image_server_url }}/img/portfolio/team1.jpg"
                                 alt="">
                        </picture>
                    </div>
                    <div class="team-photoes">
                        <picture class="team-photo-img">
                            <source srcset="{{ site.image_server_url }}/img/portfolio/team2.webp"
                                    type="image/webp">
                            <img src="{{ site.image_server_url }}/img/portfolio/team2.jpg"
                                 alt="">
                        </picture>
                    </div>
                </div>

                <div class="team-photoes-column">
                    <div class="team-photoes order-top">
                        <picture class="team-photo-img">
                            <source srcset="{{ site.image_server_url }}/img/portfolio/team3.webp"
                                    type="image/webp">
                            <img src="{{ site.image_server_url }}/img/portfolio/team3.jpg"
                                 alt="">
                        </picture>
                    </div>
                    <div class="team-btn" id="team-btn-click" type="button">
                        <div class="team-btn-title">
                            Be a part of our story!
                        </div>
                    </div>
                    <div class="team-photoes order-bottom">
                        <picture class="team-photo-img">
                            <source srcset="{{ site.image_server_url }}/img/portfolio/team4.webp"
                                    type="image/webp">
                            <img src="{{ site.image_server_url }}/img/portfolio/team4.jpg"
                                 alt="">
                        </picture>
                    </div>
                </div>

                <div class="team-photoes-column">
                    <div class="team-photoes">
                        <picture class="team-photo-img">
                            <source srcset="{{ site.image_server_url }}/img/portfolio/team5.webp"
                                    type="image/webp">
                            <img src="{{ site.image_server_url }}/img/portfolio/team5.jpg"
                                 alt="">
                        </picture>
                    </div>
                    <div class="team-photoes">
                        <picture class="team-photo-img">
                            <source srcset="{{ site.image_server_url }}/img/portfolio/team6.webp"
                                    type="image/webp">
                            <img src="{{ site.image_server_url }}/img/portfolio/team6.jpg"
                                 alt="">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
