<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                </div>
            </div>
            <div class="row">
                <p class="text-team">We are a professional team of senior software engineers and business/data analysts.</p>
                <p class="text-team">We have worked in successful startups to Fortune 500 companies and gained various expertise in FMCG, payments, banking, debt collection, education and hospitality industries. And we have put together our skills, knowledge and ability to deliver fast throughout participating and winning in various european hackathons.</p>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4 style="white-space: nowrap;">{{ member.name }}</h4>
                        <b><p class="section-heading">{{ member.position }}</p></b>
                        <p class="text-muted">{{ member.description }}</p>
                        <ul class="list-inline social-buttons paddingtop_10">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>