<!-- Team Section -->
    <section id="teamPart" class="bg-light-gray">
        <div class="container">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                </div>

            <div class="team-photoes-section">

                <div class="team-photoes-column">
            <div class="team-photoes">
             <img src="/img/portfolio/dreams.png"  class="team-photo-img" alt="">
            </div>
            <div class="team-photoes">
                <img src="/img/portfolio/dreams.png"  class="team-photo-img" alt="">
            </div>
                </div>

                <div class="team-photoes-column">
            <div class="team-photoes team-btn-section order-top">
                <img src="/img/portfolio/dreams.png"  class="team-photo-img team-btn-section" alt="">
            </div>
                <div class="team-btn" type="button">
                    <div class="team-btn-title">
                    Be a part of our story!
                    </div>
                </div>
            <div class="team-photoes team-btn-section order-bottom">
                <img src="/img/portfolio/dreams.png" class="team-photo-img team-btn-section" alt="">
            </div>
                </div>

                <div class="team-photoes-column">
            <div class="team-photoes">
                <img src="/img/portfolio/dreams.png"  class="team-photo-img" alt="">
            </div>
            <div class="team-photoes">
                <img src="/img/portfolio/dreams.png"  class="team-photo-img" alt="">
            </div>
                </div>


            </div>
        </div>
    </section>