.customers-media {
    position: relative;
    max-width: 700px;
    min-width: 450px;
    padding-left: 20px;
    width: 100%;
    text-align: justify;
    display: flex;
    flex: 2;
    flex-direction: column;
    margin: 0 30px;
    font-family: 'Special Elite', cursive;

    align-items: center;
    justify-content: center;
}

.customers-media p {
    margin-top: 10px;
}

.customers-text {
    font-weight: 100;
    font-size: 1rem;
    max-width: 600px;
    line-height: 1.4;
    position: relative;
    margin: 0;
    padding: .5rem;
}

.customers-text:before,
.customers-text:after {
    position: absolute;
    color: #f1efe6;
    font-size: 8rem;
    width: 4rem;
    height: 4rem;
}

.customers-text:before {
    content: '“';
    left: -4rem;
    top: -2rem;
}

.customers-text:after {
    content: '”';
    right: -4rem;
    bottom: 1rem;
}

.customers-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #3f3f5a;
}

.customers-main {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    color: #3f3f5a;
}

@media (min-width: 768px) {

    .customers-section {
        padding: 20px;
        margin: 20px 0;
        width: 98%;
        max-width: 1200px;
        background: #fffdf5;
    }

    .customers-main {
        background: #ffffff;
    }
}

@media (max-width: 768px) {

    .customers-information {
        min-width: 300px;
        max-width: 80vw;
        justify-content: center;
        margin: auto;
    }

    .customers-subsection {
        max-width: none;
    }

    .customers-name {
        font-size: 18px;
        min-width: 280px;
        max-width: 750px;
    }

    .customers-position {
        font-size: 18px;
        min-width: 280px;
        max-width: 750px;
    }

    .customers-list {
        min-width: 230px;
        align-self: center;
        max-width: 400px;
    }

    .customers-image {
        padding-bottom: 10px;
        width: 100%;
    }

    .customers-media {
        min-width: 260px;
        max-width: 80vw;
        padding: 0;
    }

    .customers-logo {
        max-width: 350px;
        margin: auto;
        padding: 10px;
    }

    .customers-main {
        border-radius: 5px;
        border: solid 1px #0077b5;
        padding: 10px;
        margin: 25px 10px;
        background: #fffdf5;
    }

}

@media (max-width: 500px) {
    .customers-text:before {
        left: -6vw;
        top: 0;
    }

    .customers-text:after {
        right: -5vw;
        bottom: 19px;
    }

    .customers-text:before,
    .customers-text:after {
        font-size: 5rem;
        width: 2rem;
        height: 2rem;
    }
}