.customers-media {
    position: relative;
    max-width: 700px;
    min-width: 450px;
    padding-left: 20px;
    width: 100%;
    text-align: justify;
    display: flex;
    flex: 2;
    flex-direction: column;
    margin: 0 30px;
    font-family: 'Special Elite', cursive;

    align-items: center;
    justify-content: center;
}

.customers-media p {
    margin-top: 10px;
}

.customers-text {
    font-weight: 100;
    font-size: 1rem;
    max-width: 600px;
    line-height: 1.4;
    position: relative;
    margin: 0;
    padding: .5rem;
}

.customers-text:before,
.customers-text:after {
    position: absolute;
    color: #f1efe6;
    font-size: 8rem;
    width: 4rem;
    height: 4rem;
}

.customers-text:before {
    content: '“';
    left: -4rem;
    top: -2rem;
}

.customers-text:after {
    content: '”';
    right: -4rem;
    bottom: 1rem;
}

.customers-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: #3f3f5a;
}

.customers-main {

    padding-bottom: 20px;
    color: #3f3f5a;
}

.customers-list
{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding-right: 8px;
    padding-left: 8px;
    min-width: 230px;
    margin: 20px 0;
}

.customers-logo
{
    width: 100%;
}

.customers-logo img {
    max-height: 100px;
}

@media (min-width: 769px) {

    .portfolio-sorting li a {

        text-transform: uppercase;
        font-size: 16px;
    }

    .mobile-shown {
        display: none;
    }

    .customers-section {
        padding: 20px;
        margin: 20px auto;
        width: 98%;
        max-width: 1200px;
        background: #fffdf5;
    }

    .customers-main {
        background: #ffffff;
    }

    .customers-logo {
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
    }

    .customers-image img {
        width: 170px;
    }
}

@media (max-width: 768px) {
    .filter-element {
        text-transform: capitalize;
    }

    .portfolio-sorting li a {
        color: black;
        border-radius: 5px;
        border: solid 1px #0077B5;
        background-color: white;
        padding: 5px;
    }

    .portfolio-title {
        padding-top: 10px;
        font-size: 14px;
    }

    .portfolio-sorting li a:hover,
    .portfolio-sorting li a.active {
        color: #ffffff !important;
        border-radius: 5px;
        border: solid 1px #0077B5;
        background-color: #0077B5;
        padding: 5px;
    }

    .mobile-hidden {
        display: none !important;
    }

    .portfolio-sorting {
        position: absolute;
        top: 47px;
        left: -15px;
        right: -15px;
        margin: auto;
        border-bottom: 3px solid #6cf;
        background-color: white;
        padding-bottom: 10px;
        text-align: center;
        z-index: 3 !important;
    }

    #portfolio-hackathon-major-sorting a,
    #portfolio-hackathon-minor-sorting a {
        font-size: 1em;
    }

    .minor-hackathon-filter.portfolio-sorting {
        padding-top: 20px;
        top: 85px;
    }

    .portfolio-display-mobile-list {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: space-between;
        color: #0077b5;
        padding-inline-start: 0px;
        font-size: 22px;
        cursor: pointer;
    }

    .portfolio-display-mobile-list :nth-child(1) {
        width: 42%;
    }

    .portfolio-display-mobile-list :nth-child(2) {
        width: 55%;
    }

    .portfolio-item-title {
      display: block;
      height: auto;
    }

    .portfolio-item-first-section {
        min-width: 320px;
    }

    .portfolio-item-second-section {
        padding: 0;
        min-width: 320px;
    }

    .portfolio-display-mobile-element {
        padding: 2px 10px;
        border-radius: 6px;
    }

    .portfolio-display-mobile-element.selected {
        background-color: #E8A621;
    }

    .portfolio-display-mobile-element.selected i {
        color: white;
    }

    section#about-hackathons {
        padding: 15px 0;
    }

    section#about-hackathons h2.section-heading {
        margin-bottom: 10px;
    }

    #customers-content-wrapper {
        padding-top: 0;
    }

    .list-inline>li {
        padding-bottom: 0.7rem;
    }

    .customers-logo img {
        width: 100%;
    }

    .customers-section {
        flex-direction: column;
        align-items: center;
    }

    .customers-subsection {
        max-width: none;
        width: -moz-available;
        width: -webkit-fill-available;
        width: fill-available;
        align-items: center;
    }

    .customers-name,
    .customers-position {
        font-size: 18px;
    }

    .customers-image img {
        width: 160px;
        margin-bottom: 10px;
    }

    .customers-media {
        min-width: 260px;
        max-width: 80vw;
        padding: 0;
        margin: 0;
    }

    .customers-logo {
        width: 90%;
        max-width: 350px;
        padding-bottom: 10px;
    }

    .customers-main {
        border-radius: 5px;
        border: solid 1px #0077b5;
        padding: 10px;
        margin: 25px auto;
        width: 90% !important;
        background: #fffdf5;
    }


    .customers-text:before,
    .customers-text:after{
        content: '';
    }

    .customers-text {
        padding: 0;
    }

    .customers-text p {
        margin: 0;
    }

    .customers-list {
        margin: 0;
    }
}