.portfolio
{
	margin: 0px;
	margin-top: 0;
	padding-top: 50px;
	padding-bottom: 50px;
}

.portfolio-item
{
	margin-bottom: 30px;
}

.portfolio-sorting li a
{
	color: #808080;
	text-decoration: none;
	padding: 6px;
}

#about-hackathons .portfolio-sorting
{
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 48px;
}

#about-hackathons .portfolio-sorting li a:hover,
#about-hackathons .portfolio-sorting li a.active
{
	color: #2980b9;
	border-bottom: 2px solid #2980b9;
}

#about-portfolio .portfolio-sorting
{
	font-size: 16px;
	margin-bottom: 48px;
	padding-bottom: 20px;
}

#about-portfolio .portfolio-sorting li a:hover,
#about-portfolio .portfolio-sorting li a.active
{
	color: #2980b9;
	text-decoration: none;
}

#about-portfolio .portfolio-item
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.portfolio-item-solution
{
	padding-top: 50px;
	padding-bottom: 50px;
}

.portfolio-image-wrap {
	align-self: center;
	background-color: lightblue;
}

.portfolio-item-description
{
	font-size: 20px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #777777;
	text-align: justify;
}

.portfolio-item-first-section
{
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	flex: 1;
	min-width: 450px;
}

.portfolio-item-second-section
{
	padding: 5px;
	padding-left: 50px;
	/*display: flex;*/
	flex-direction: column;
	flex: 1;
	min-width: 450px;
}

h2.portfolio-item-name:nth-child(1) {
	margin-top: 0;
}

.portfolio-item-name
{
	font-size: 24px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #777777;
}


.portfolio-subheader
{
	padding-top: 75px;
}

.list-inline>li
{
	display: inline-block;
	padding-left: 0px;
	padding-right: 0px;
	margin: 5px;
}

.subheader-section
{
	height: 60px;
	background-color: #66ccff;
	text-align: center;
	align-items: center;
	justify-content: center;
	display: none;

}

.subheader-list
{
	display: flex;
	flex-direction: row;
	text-align: center;
	height: 33px;
	font-size: 24px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #fff;
	text-transform: capitalize;
}

.subheader-a
{
	padding: 10px 0;
	color: #fff;
	display: inline-block;

}

.subheader-li
{
	list-style-type: none;
	flex-basis: auto;
	flex-grow: 1;
}

.subheader-a:hover
{
	color: #fff;
	display: inline-block;
	border-bottom: 17.2px solid;
	padding-bottom: 2px;
	text-decoration: none;
}

.portfolio-main-title
{
	font-size: 28px;
	font-weight: bold;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000000;
	text-transform: capitalize;
	text-align: center;
	padding-bottom: 20px;
}

.portfolio-title
{
	font-size: 20px;
	font-weight: bold;
}

.portfolio-title:hover
{
	font-size: 20px;
	font-weight: bold;
	color: #2980b9;
}

@media(max-width:996px)
{
	.subheader-a {
		font-size: 18px;
	}
	.subheader-a:hover {
		border-bottom: 15.2px solid;
	}
	.subheader-section
	{
		height: 50px;
	}
}


