.portfolio
{
	margin: 0px;
	margin-top: 0;
	padding-top: 50px;
	padding-bottom: 50px;
}

.portfolio-item
{
	margin-bottom: 30px;
}

.portfolio-sorting li a
{
	color: #808080;
	text-decoration: none;
	padding: 6px;
}

#about-hackathons .portfolio-sorting
{
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 48px;
}

.portfolio-sorting li a:hover,
.portfolio-sorting li a.active
{
	color: #2980b9;
	border-bottom: 2px solid #2980b9;
}

.filter-list-wrap {
	position: relative;
	z-index: 3 !important;
}

#about-portfolio .portfolio-sorting
{
	font-size: 16px;
	margin-bottom: 48px;
	padding-bottom: 20px;
}

.portfolio-sorting li a
{
	padding-bottom: 1px;
}

#about-portfolio .portfolio-item
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.portfolio-item-solution
{
	/*padding-top: 50px;*/
	/*padding-bottom: 50px;*/
}

.portfolio-image-wrap {
	align-self: center;
	/*background-color: lightblue;*/
}

.projects span {
	opacity: 0;
    position: relative;
    bottom: 3rem;
    right: -3rem;
	height: 46px;
    padding: 1.5rem;
    border-radius: 5px;
    background-color: #e8a621;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
	transition: opacity .2s ease-in-out;
    z-index: 2000;
}

.projects:hover {
	cursor: pointer;
}

.projects:hover span {
    opacity: 1;
    transition: opacity .3s ease-in-out;
}

.portfolio-item-description
{
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 24px;
	letter-spacing: normal;
	color: #777777;
	text-align: justify;
}

.portfolio-item-title {
	width: 100%;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 12px;
}

.portfolio-item-first-section
{
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	flex: 1;
	min-width: 450px;
	margin-bottom: 20px;
}

.portfolio-item-second-section
{
	padding-left: 50px;
	/*display: flex;*/
	flex-direction: column;
	flex: 1;
	min-width: 450px;
}

h2.portfolio-item-name:nth-child(1) {
	margin-top: 0;
}

.portfolio-item-name
{
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #777;
}

.customers-text-title
{
	font-size: 18px;
	font-weight: bold;
	color: #777;
}

.list-inline>li
{
	display: inline-block;
	padding-left: 0px;
	padding-right: 0px;
	margin: 5px;
}

.subheader-section
{
	height: 46px;
	background-color: #66ccff;
	text-align: center;
	align-items: center;
	justify-content: center;
	display: none;
}

.subheader-list
{
	display: flex;
	flex-direction: row;
	text-align: center;
	height: 33px;
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #fff;
	text-transform: capitalize;
}

.subheader-a
{
	font-family: {{ site.data.template.font.primary }};
	padding: 10px 0;
	color: #fff;
	display: inline-block;
	line-height: 1.34;

}

.subheader-li
{
	list-style-type: none;
	flex-basis: auto;
	flex-grow: 1;
}

.subheader-a:hover, .subheader-a.selected-a
{
	color: #fff;
	display: inline-block;
	border-bottom: 5px solid;
	padding-bottom: 7px;
	text-decoration: none;
}


.subheader-a-hidden.selected-a {
	border-bottom: 5px solid white;
	padding-bottom: 2px;
}

.portfolio-main-title
{
	font-size: 28px;
	font-weight: bold;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000000;
	text-transform: capitalize;
	text-align: center;
	padding-bottom: 20px;
}

.portfolio-title
{
	font-size: 20px;
	font-weight: bold;
}

.portfolio-title:hover
{
	color: #2980b9;
}

#grid-portfolio
{
    list-style-type: none;
}

.shuffle-item.expanded {
	width: 100% !important;
}

#grid-portfolio li.col-md-4 {
	padding: 5px;
}

#grid-portfolio li.col-xs-12{
    padding: 0;
}

.fa-filter
{
    color: #e8a621;
}

.portfolio-display-mobile-list
{
    display: none;
	font-weight: bold;
}

.subheader-a-hidden
{
	display: none;
}


@media(max-width:996px)
{
	.subheader-a {
		font-size: 18px;
	}

	.subheader-a-hidden.selected-a {
		border-bottom: 4px solid white;
		padding-bottom: 2px;
	}

}

@media(max-width: 945px)
{
	.portfolio-item-second-section {
		padding-left: 5px !important;
	}
}

.customers-section
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.customers-subsection
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	max-width: 400px;
	flex: 1;

}

.customers-information
{

	align-items: center;
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;

}

.customers-picture
{
	min-width: 170px;
	max-width: 170px;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-right: 8px;
	padding-left: 8px;
}


.customers-logo
{
	text-align: center;
	margin-bottom: 10px;
	width: 100%;
}

.customers-logo img {
	width: 100%;
}

.customers-name
{
	height: 38px;
	font-size: 24px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000000;
	text-align: center;
}

.customers-position
{
	font-size: 24px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #777777;
	text-align: center;
}

.customers-media
{
	position: relative;
	max-width: 700px;
	min-width: 450px;
	padding-left: 20px;
	width: 100%;
	text-align: justify;
	display: flex;
	flex: 2;
	flex-direction: column;
	margin-left: 30px;
}

.customers-media p {
	margin-top: 10px;
}

.customers-list
{
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	padding-right: 8px;
	padding-left: 8px;
	min-width: 230px;
	align-self: flex-start;
	margin: 20px 0;
}

.customers-main
{
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
}

.customers-text{
	font-size: 18px;
	color: #777;
}

@media(max-width:996px){

	.customers-main
	{
		margin: 25px 10px;
	}

	.customers-name
	{
		font-size: 18px;
	}

	.customers-position
	{
		font-size: 18px;

	}
	.customers-list {
	}
}