.portfolio
{
	margin: 0px;
	margin-top: 0;
	padding-top: 50px;
	padding-bottom: 50px;
}

.portfolio-item
{
	margin-bottom: 30px;
}

.portfolio-sorting li a
{
	color: #808080;
	text-decoration: none;
	padding: 6px;
}

#about-hackathons .portfolio-sorting
{
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 48px;
}

.portfolio-sorting li a:hover,
.portfolio-sorting li a.active
{
	color: #2980b9;
	border-bottom: 2px solid #2980b9;
}

.filter-list-wrap {
	position: relative;
	z-index: 3 !important;
}

#about-portfolio .portfolio-sorting
{
	font-size: 16px;
	margin-bottom: 48px;
	padding-bottom: 20px;
}

.portfolio-sorting li a
{
	padding-bottom: 1px;
}

#about-portfolio .portfolio-item
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.portfolio-item-solution
{
	/*padding-top: 50px;*/
	/*padding-bottom: 50px;*/
}

.portfolio-image-wrap {
	align-self: center;
	background-color: lightblue;
}

.portfolio-item-description
{
	font-size: 20px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #777777;
	text-align: justify;
}

.portfolio-item-title {
	width: 100%;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 12px;
}

.portfolio-item-first-section
{
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	flex: 1;
	min-width: 450px;
	margin-bottom: 20px;
}

.portfolio-item-second-section
{
	padding-left: 50px;
	/*display: flex;*/
	flex-direction: column;
	flex: 1;
	min-width: 450px;
}

h2.portfolio-item-name:nth-child(1) {
	margin-top: 0;
}

.portfolio-item-name
{
	font-size: 24px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #777777;
}


.portfolio-subheader
{
	padding-top: 75px;
}

.list-inline>li
{
	display: inline-block;
	padding-left: 0px;
	padding-right: 0px;
	margin: 5px;
}

.subheader-section
{
	height: 60px;
	background-color: #66ccff;
	text-align: center;
	align-items: center;
	justify-content: center;
	display: none;

}

.subheader-list
{
	display: flex;
	flex-direction: row;
	text-align: center;
	height: 33px;
	font-size: 24px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #fff;
	text-transform: capitalize;
}

.subheader-a
{
	padding: 10px 0;
	color: #fff;
	display: inline-block;

}

.subheader-li
{
	list-style-type: none;
	flex-basis: auto;
	flex-grow: 1;
}

.subheader-a:hover, .subheader-a.selected-a
{
	color: #fff;
	display: inline-block;
	border-bottom: 16px solid;
	padding-bottom: 2px;
	text-decoration: none;
}


.subheader-a-hidden.selected-a {
	border-bottom: 17px solid white;
	padding-bottom: 2px;
}

.portfolio-main-title
{
	font-size: 28px;
	font-weight: bold;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000000;
	text-transform: capitalize;
	text-align: center;
	padding-bottom: 20px;
}

.portfolio-title
{
	font-size: 20px;
	font-weight: bold;
}

.portfolio-title:hover
{
	font-size: 20px;
	font-weight: bold;
	color: #2980b9;
}

#grid-portfolio
{
    list-style-type: none;
}

#grid-portfolio li.col-xs-12, #grid li.col-xs-12 {
	padding: 0;
}

.fa-filter
{
    color: #e8a621;
}

.portfolio-display-mobile-list
{
    display: none;
	font-weight: bold;
}

.subheader-a-hidden
{
	display: none;
}


@media(max-width:996px)
{
	.subheader-a {
		font-size: 18px;
	}
	.subheader-a:hover, .subheader-a.selected-a {
		border-bottom: 15px solid;
		padding-bottom: 2px;
	}
	.subheader-a-hidden.selected-a {
		border-bottom: 15px solid white;
		padding-bottom: 2px;
	}
	.subheader-section
	{
		height: 51px;
	}
}

@media(max-width: 945px)
{
	.portfolio-item-second-section {
		padding-left: 5px !important;
	}
}

@media(max-width:560px)
{

	.subheader-list
	{
		padding-left: 0;
	}
	.subheader-a {
		font-size: 18px;

	}
	.subheader-a:hover {
		border-bottom: 15px solid;
	}
	.subheader-section
	{
		height: 51px;
	}

	.filter-elements {
		text-transform: capitalize;
	}

    .portfolio-sorting li a
    {
        color: black;
        border-radius: 5px;
        border: solid 1px #0077B5;
        background-color: white;
        padding: 5px;
    }

	.portfolio-title {
		padding-top: 10px;
	}

	.portfolio-sorting li a:hover,
    .portfolio-sorting li a.active
    {
        color: #ffffff !important;
        border-radius: 5px;
        border: solid 1px #0077B5;
        background-color: #0077B5;
        padding: 5px;
    }

	.mobile-hidden {
		display: none;
	}

    .portfolio-sorting
    {
		position: absolute;
		top: 40px;
		left: -15px;
		right: -15px;
		margin: auto;
		border-bottom:3px solid #6cf;
        background-color: white;
        padding-bottom: 10px;
        text-align: center;
		z-index: 3 !important;
    }

	.portfolio-item-first-section {
		min-width: 320px;
	}

	.portfolio-item-second-section {
		padding: 0;
		min-width: 320px;
	}

    .portfolio-display-mobile-list
    {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: space-between;
        color: #0077b5;
        padding-inline-start: 0px;
		font-size: 22px;
		cursor: pointer;
    }

	.portfolio-display-mobile-element {
		padding: 2px 10px;
		border-radius: 6px;
	}

	.portfolio-display-mobile-element.selected {
		background-color: #E8A621;
	}

	.portfolio-display-mobile-element.selected i {
		color: white;
	}

	.subheader-a-hidden
	{
		font-size: 20px;
		padding: 10px 0;
		color: #fff;
		display: inline-block;
	}

	.subheader-a-hidden.selected-a {
		border-bottom: 12px solid white;
		padding-bottom: 2px;
	}

	.subheader-a-hidden:hover
	{
		border-bottom: 12px solid;
		padding-bottom: 2px;
		text-decoration: none;
		color: #fff;
	}

	.subheader-a
	{
		display: none;
	}
}


