#calendar
{
	padding-top: 100px;
	padding-bottom: 50px;
	margin-bottom: 120px;
	justify-content: space-around;
	display: flex;
	flex-wrap: wrap;
}


#calendar-a-callus
{
	padding-top: 12px;
	padding-bottom: 12px;
}

.calendar-button, .calendar-button.navbar-toggle, .back-button-header.navbar-toggle
{
    border: 2px solid #e8a621;
    border-radius: 5px;
	background-color: transparent;
	color: white;
}

.calendar-button.navbar-toggle, .calendar-button-callus.navbar-toggle, .back-button-header {
	font-size: 12px;
}

.calendar-button:hover
{
	background: #e8a621;
}

.calendar-button-callus
{
	border: 2px solid #e8a621;
	border-radius: 5px;
	background: #e8a621;
}

