#calendar
{
	padding-top: 150px;
}


#calendar-a
{
padding-top: 12px;
padding-bottom: 12px;
}

#calendar-a-callus
{
	padding-top: 12px;
	padding-bottom: 12px;
}


.calendar-description
{
	max-width: 700px;
	min-width: 300px;
	font-size: 18px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #777777;
	text-align: justify;
}

.calendar-button
{
    border: 2px solid #e8a621;
    border-radius: 5px;
    margin-left: 60px;
	margin-top: 5px;
}

.calendar-button-callus
{
	border: 2px solid #e8a621;
	border-radius: 5px;
	margin-left: 60px;
	margin-top: 5px;
	background: #e8a621;
}

.calendar-block
{
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	padding: 15px;
}

.calendar-story
{
	align-items: center;
	flex: 3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-right: 8px;
	padding-left: 8px;
}

.calendar-element
{
	align-items: center;
	flex: 3;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	padding-right: 8px;
	padding-left: 8px;
	max-width: 917px;
	padding-bottom: 30px;
}

.calendar-picture
{
	align-items: center;
	flex: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-right: 8px;
	padding-left: 8px;
}

.calendar-table
{
	flex-grow: 0;
	min-width: 901px;
	padding-right: 8px;
	padding-left: 8px;
}

.picture-description
{
	border-radius: 100px;
	width: 200px;
	height: 200px;
	border: solid 1px #00a2ff;
}

.calendar-subtitle
{
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #777777;
}

.calendar-title
{
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000000;
}