.navbar-default {
  border-color: transparent;
  background-color: transparent;
  transition: top 0.3s;
}

.navbar-default.navbar-shrink, #navbar-callus {
  background-color: #{{ site.data.template.color.primary-bg }};
}

.navbar-default .navbar-brand {
  font-weight: bold;
  color: #ffffff;
  font-family: {{ site.data.template.font.primary }};
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
color: #ffffff;
}

.navbar-default .navbar-collapse {
border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
border-color: #{{ site.data.template.color.primary }};
background-color: #{{ site.data.template.color.primary }};
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #{{ site.data.template.color.primary }};
}

.navbar-default .nav li a, .calendar-a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  -webkit-transition: all ease .35s;
  -moz-transition: all ease .35s;
  transition: all ease .35s;
  transition-delay: .6s;
  -webkit-transition-delay: .6s;
  font-family: {{ site.data.template.font.primary }};
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus,
.calendar-a:hover, .calendar-a:focus {
  outline: 0;
  color: #ffffff;
  text-decoration: none;
}

.navbar-default .navbar-nav>.active>a {
  border-radius: 0;
  color: #fff;
  background-color: #{{ site.data.template.color.primary }};
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #{{ site.data.template.color.secondary }};
}

header {
  text-align: center;
  color: #fff;
  background-color: #333333;
}

.intro-anim-js-canvas-el {
  position: absolute;
  top: 0; left: 0;
}

header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}
header .intro-text img {
  height: 200px;
  margin-bottom: 15px;
}
header .intro-text .intro-lead-in {
  margin-bottom: 25px;
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
}

header .intro-text .intro-heading {
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  min-height: fit-content;
  font-family: {{ site.data.template.font.primary }};
}

section {
  padding: 20px 0;
}

.section-heading  {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 60px;
  text-transform: uppercase;
  font-family: 'Bebas', {{ site.data.template.font.primary }};
}

section h3.section-subheading {
  margin-bottom: 75px;
  text-transform: none;
  font-size: 24px;
  /*font-style: italic;*/
  font-weight: 300;
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}