.event-slides-section
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1350px;
    margin: auto;
}

.event-slide
{
    height: 390px;
    width: 290px;
    border-radius: 10px;
    border: solid 1px #0077b5;
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 5px;
}

#event-slides-section .owl-item {
    display: flex;
    justify-content: center;
}

#event-slides-section .owl-stage {
    margin: 0 auto;
}

.event-image-div
{
    border-bottom: solid 1px #0077b5;
}

.event-image {
    padding-bottom: 10px;
    height: 90px;
    width: auto;
}

.event-date
{
    border-top: solid 1px #0077b5;
    font-size: 24px;
    color: #000000;
    padding-top: 10px;
}

.event-place
{
    height: 35px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.event-name
{
    height: 84px;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.event-schedule
{
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    width: 240px;
    height: 45px;
    border-radius: 5px;
    border: solid 2px #e8a621;
    background-color: #e8a621;
    padding-top: 10px;
    align-self: center;
    cursor: pointer;
}

.events-popup
{
    background-color: rgba(78, 78, 78, 0.70);
    display: none;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;

}

.pop-up-events
{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 60px auto auto;
    max-height: 560px;
    min-height: 500px;
}

.slideshow-container {
    z-index: 4;
    position: absolute;
}