.header-items {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 30px 0;
}

.header-items h2 {
  width: 100%;
  max-width: 50%;

  font-size: 62px;
  font-family: {{ site.data.template.font.primary }};
  font-weight: bold;
  color: #0077B5;
  text-transform: uppercase;

  margin: 0;
  padding: 0;
}

.header-items p {
  width: 100%;
  max-width: 50%;
  
  font-size: 16px;
  font-family: {{ site.data.template.font.primary }};
  font-weight: normal;
  line-height: 18px;
  text-align:right;

  margin: 0;
  padding: 0;
}