.service
{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.service-firstblock, .service-secondblock
{
    margin: 0 15px 30px;
}

.service-btn
{
    display: flex;
    min-width: 480px;
    max-width: 480px;
    border-radius: 6px;
    background-color: #0077B5;
    color: #000;
    flex-grow: 1;
    cursor: pointer;
    justify-content: stretch;
    margin-bottom: 0;
    align-items: center;
    padding: 10px 0 10px 20px;
}

.service-btn-section
{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    align-self: stretch;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

.service-subblocks
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 100%;
}

.service-elements
{
    justify-content: center;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    padding-top: 10px;
}

.service-title
{
    height: 48px;
    text-align: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding-bottom: 20px;

}

.service-subtitle
{
    height: 23px;
    align-items: center;
    text-transform: capitalize;
    font-size: 19px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #777777;
}

.block-services
{
    padding-right: 10px;
    padding-left: 10px;
}

.service-heading
{
    align-items: center;
    height: 38px;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.service-images
{
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    width: 115px;
    height: 306.9px;
    border-radius: 5px;
    border: solid 1px #0077b5;
    background-color: #ffffff;
    padding: 3px;
    align-items: center;
}

.service-naming
{
    width: 100px;
    height: 24px;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #777777;
}

.bottom-text-element
{
    font-size: 20px;
    padding-bottom: 10px;
}


.image-text
{
    font-size: 20px;
    color: #000000;
}

.service-btn-name
{
    text-transform: capitalize;
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding-left: 35px;
    font-weight: bold;
}

.fa-btc.fa-inverse
{
    color: white;
}

.fa-laptop.fa-inverse
{
    color: white;
}

.fas.fa-caret-right
{
    color: #E8A621;
    font-size: 50px;
}

.fas.fa-caret-left
{
    color: #E8A621;
    font-size: 50px;
}

.text-primary
{
    color: #E8A621; !important;
}

.hidden-elements-section
{
    justify-content: space-evenly;
    flex-direction: column;
    display: flex;
}

.hidden-icon-left
{
    transform: rotate(270deg);
}

.hidden-icon-right
{
    transform: rotate(90deg);
}

.hidden-elements-block{
    width: 60px;
    height: 100px;
    padding-top: 40px;
}


@media(max-width: 480px) {
    .service-btn {
        padding: 10px !important;
        min-width: 318px;
        max-width: 420px;
    }
    .service-btn-image {
        height: 37px;
    }
    .service-btn-name {
        font-size: 17px;
        padding-left: 15px;
        margin: auto;
    }
}