<div class="customers-section">
  <div class="customers-subsection">
    <div class="customers-logo">
      <img src="{{ site.baseurl }}/img/portfolio/feedback/{{ include.customer.company-img }}" 
          alt="{{ include.customer.company-img-alt }}" />
    </div>

    <div class="customers-information">
      <div class="customers-picture">
        <img src="{{ site.baseurl }}/img/portfolio/feedback/{{ include.customer.client-img }}">
      </div>

      <div class="customers-list">
        <div class="customers-name">
          {{ include.customer.client-name }}
        </div>

        <div class="customers-position">
          {{ include.customer.client-position }}
        </div>
      </div>
    </div>
  </div>

  <div class="customers-media">
    <div class="customers-text">
      <p>
        {{ include.customer.client-comment }}
        <br />
        <a href="{{ include.customer.link-read-more }}" target="_blank">Read more</a>
      </p>
    </div>
  </div>
</div>